{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_title %}{{ object.seo_title }}{% endblock %}

{% block bootstrap3_extra_head %}
    
    <link rel="stylesheet" href="{{ object.name_ref }}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
    <meta name="description" content="{{ object.seo_description }}">
    <meta name="keywords" content="{{ object.seo_keywords }}">
{% endblock %}

{% block bootstrap3_content %}
<body>
{% csrf_token %}
{{ object.text|safe }}
</body>


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script src="{% static 'js/landing.js' %}"></script>

{% endblock %}