{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Активация{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-lg-6_ col-lg-12 ">
            <h3>Активация прошла успешно! Теперь можете войти на <a href="{% url 'auth_login' %}">сайт</a></h3>

            <h2>Присоединяйтесь к нашему сообществу</h2>
			<script type="text/javascript" src="//vk.com/js/api/openapi.js?116"></script>

			<!-- VK Widget -->
			<div id="vk_groups"></div>
			<script type="text/javascript">
			VK.Widgets.Group("vk_groups", {mode: 0, width: "600", height: "500", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 87178621);
			</script>			
			
			
        </div>
    </div>

{% endblock %}
