{% extends 'mailchimp/base.html' %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">Пожалуйста, активируйте аккаунт.<br />
<strong><span style="font-size:16px;">Остался всего один шаг.</span></strong></div>


<a href="http://propforex.co{% url 'registration_activate' activation_key %}">
<center><div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); background-color: rgb(255, 255, 255);">
<div border="0" cellpadding="0" cellspacing="0" style="width:200px;  font-family: Arial, Tahoma, Verdana, sans-serif; font-size: 13px; line-height: 18px; border-radius: 3px; background-color: rgb(109, 198, 221);  text-align: center;">
	<div style="color: rgb(255, 255, 255); font-family: Helvetica, Arial, sans-serif; font-size: 15px; font-weight: bold; line-height: 15px; padding: 18px 15px 15px;" valign="middle">Активировать аккаунт</div>
</div>
</div></center>
</a>
<p>После активации аккаунта, на почту придет письмо с информацией "Как получить крупную сумму в управление всего за две недели?"</p>
{% endblock %}