{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Вход{% endblock %}

{% block content_header %}
<h1 class="page-header">Вход</h1>
{% endblock %}

{% block content %}
       {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">{{ error }}</div>
            {% endfor %}

            <form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{% url 'cabinet-rules' %}">
                {{form.email.errors}}
                <div class="form-group">
                    <input type="email" placeholder="Адрес E-mail" class="form-control" name="username" id="id_email">
                </div>
                {{form.password.errors}}
                <div class="form-group">
                    <input type="password" placeholder="Пароль" class="form-control" name="password" id="id_password">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">логин</button>
                </div>
                <a class="color-green" href="{% url 'password_reset' %}">Забыли пароль?</a> | <a class="color-green" href="{% url 'registration' %}">Регистрация на сайте</a>
            </form>
{% endblock %}