{% extends 'partner/base.html' %}
{% load static from staticfiles %}

{% block title %}Регистрация в партнерской программе{% endblock %}

{% block content_header %}
<h1 class="page-header">Регистрация в партнерской программе</h1>
{% endblock %}

{% block content %}
 {% if yes %}
<div class="alert alert-warning">Вы успешно зарегистрировались! Проверьте свой почтовый ящик и перейдите по ссылке для активации аккаунта!</div>
{% endif %}
 {% if erremail %}
<div class="alert alert-warning">Ошибка! Данный электронный адрес уже используется на сайте, пожалуйста введите другой адрес электронной почты!</div>
{% endif %}
       {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">{{ error }}{{ err }}</div>
            {% endfor %}
       <form class="col-lg-4" method="POST" action="{% url 'registration_partner' %}">
                        {% csrf_token %}
						<div class="form-group">
							<a href="{% url 'auth_login_partner' %}" class="btn btn-sm btn-success">Форма авторизации</a>
						</div>
						<div class="form-group">
                            <input id="id_username" style="display: none" maxlength="30" name="username" type="text" value="{{form.username.value }}">
							<input type="email" class="form-control" placeholder="Ваш Email" required="" autofocus="" name="email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Пароль" required="" name="password1">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Имя" required="" name="first_name">
						</div>
						<div class="form-group">
							<input type="hidden" value=" " class="form-control" placeholder="Фамилия" required="" name="last_name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Телефон" required="" name="phone">
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
						</div>
					  </form>
{% endblock %}