{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Регистрация на сайте{% endblock %}

{% block content_header %}
<h1 class="page-header">Регистрация на сайте</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Регистрация на сайте</span></li> </ol>
{% endblock %}

{% block content %}
 {% if yes %}
<div class="alert alert-warning">Вы успешно зарегистрировались! Проверьте свой почтовый ящик и перейдите по ссылке для активации аккаунта!</div>
{% endif %}
       {% for error in form.non_field_errors %}
                <div class="alert alert-danger fade in">{{ error }}</div>
            {% endfor %}
       <form class="col-lg-4" method="POST" action="{% url 'registration' %}">
                        {% csrf_token %}
						<div class="form-group">
							<a href="{% url 'auth_login' %}" class="btn btn-sm btn-success">Форма авторизации</a>
						</div>
						<div class="form-group">
                            <input id="id_username" style="display: none" maxlength="30" name="username" type="text" value="{{form.username.value }}">
							<input type="email" class="form-control" placeholder="Ваш Email" required="" autofocus="" name="email">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Пароль" required="" name="password1">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Имя" required="" name="first_name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Фамилия" required="" name="last_name">
						</div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Телефон" required="" name="phone">
						</div>
						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block" type="submit">Регистрация</button>
						</div>
					  </form>
{% endblock %}