{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}
{% load partner_extras %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/sb-partner.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">

    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/nprogress.js' %}"></script>

{% endblock %}
{% block bootstrap3_content %}
<body>

    <div id="wrapper">

        <!-- Navigation -->
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://propforex.co/">PropForex</a>
            </div>
            <!-- Top Menu Items -->

			            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if request.user.is_authenticated %}
                    <a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="{% url 'partner-settings' %}"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                    <li>
                        <a href="{% url 'partner_logout' %}"><i class="fa fa-fw fa-power-off"></i>Выход</a>
                    </li>
                    {% else %}

                    {% endif %}
                    </ul>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Баланс: {{ request.user.id|balance }} рублей</a>
                </li>
            </ul>
            {% endif %}
            {% if request.user.is_authenticated %}
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">Цена лида: {{ request.user.id|price }} рублей</a>
                </li>
            </ul>
            {% endif %}
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
                {% if request.user.is_authenticated %}
                {% with u=request.resolver_match.url_name %}
                <li {% if u == 'partner-stat' %}class="active"{% endif %}>
                    <a href="{% url 'partner-stat' %}"><i class="fa fa-fw  rowTpl fa-list-alt"></i> Статистика</a>
                </li>
                <li {% if u == 'partner-leads' %}class="active"{% endif %}>
                    <a href="{% url 'partner-leads' %}"><i class="fa fa-fw  rowTpl fa-stack-overflow"></i> Лиды</a>
                </li>
                <li {% if u == 'partner-links' %}class="active"{% endif %}>
                    <a href="{% url 'partner-links' %}"><i class="fa fa-fw  rowTpl fa-code"></i> Реферальные ссылки</a>
                </li>
                <li {% if u == 'partner-promo' %}class="active"{% endif %}>
                    <a href="{% url 'partner-promo' %}"><i class="fa fa-fw  rowTpl fa-delicious"></i> Промо-материалы</a>
                </li>
				<li {% if u == 'partner-output' %}class="active"{% endif %}>
                    <a href="{% url 'partner-output' %}"><i class="fa fa-fw  rowTpl fa-dollar"></i> Вывод средств</a>
                </li>
                <!--<li {% if u == 'partner-info' %}class="active"{% endif %}>
                    <a href="{% url 'partner-info' %}"><i class="fa fa-fw  rowTpl fa-info"></i> Информация</a>
                </li>-->
                {% endwith %}
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 756177;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->
<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28055484 = new Ya.Metrika({id:28055484, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/28055484" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript><!-- /Yandex.Metrika counter -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6_ col-lg-12 ">
                        {% block content_header %}
                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-6_ col-lg-12 ">
                        {% block content %}
                        {% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

<script type="text/javascript">
 $('body').show();
    $('.version').text(NProgress.version);
    NProgress.start();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);
</script>
</body>
{% endblock %}
{% block bootstrap3_extra_script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>

$(function() {
    $.datepicker.regional['ru'] = {
closeText: 'Закрыть',
prevText: '&#x3c;Пред',
nextText: 'След&#x3e;',
currentText: 'Сегодня',
monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
'Июл','Авг','Сен','Окт','Ноя','Дек'],
dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
dateFormat: 'dd.mm.yy',
firstDay: 1,
isRTL: false
};
$.datepicker.setDefaults($.datepicker.regional['ru']); 
    $(".datetimeinput").datepicker();
    $(".datetimeinput").datepicker( "option", "dateFormat", "dd.mm.yy");
    $(".datetimeinputtwo").datepicker();
    $(".datetimeinputtwo").datepicker( "option", "dateFormat", "dd.mm.yy");
    if($("#time_start-val").val()){
        $(".datetimeinput").attr("placeholder",$('#time_start-val').val());
        $(".datetimeinput").val($('#time_start-val').val());
    }
    else{
        $(".datetimeinput").attr("placeholder",'Дата от');
    }
    if($("#time_finish-val").val()){
        $(".datetimeinputtwo").attr("placeholder",$('#time_finish-val').val());
        $("#id_time_finish").val($('#time_finish-val').val());
    }
    else{
        $(".datetimeinputtwo").attr("placeholder",'Дата до');
    }



  });
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
<script type="text/javascript">
$(function() {
if($("#id_channel").val()){
        $(".js-example-placeholder-single option[value="+ $("#id_channel").val() +"]").attr('selected','selected');
    }
});
$(".js-example-placeholder-single").select2({
  placeholder: "Выберите канал",
  allowClear: true
});
</script>
{% endblock %}
