{% extends 'partner/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}PropForex - Реферальные ссылки{% endblock %}

{% block content_header %}
<h1 class="page-header">Реферальные ссылки</h1>
{% endblock %}

{% block content %}
<div class="page-header-links">
<form class="partner-links" action="." method="post">
{% csrf_token %}
    <div class="custom-form">
    <input class="form-control" placeholder="Название" type="text" name="name">
        {% if errors_name %}<p style="color:red">{{ errors_name }}</p>{% endif %}
    </div>
    <div class="custom-form">
    <select class="form-control" name="sistema">
               <option value="0">Выберите страницу</option>
               <option value="g">Главная страница</option>
        {% for article in articles %}
               <option value="{{ article.id }}">{{ article.title }}</option>
        {% endfor %}
    </select>
        {% if errors_sistema %}<p style="color:red">{{ errors_sistema }}</p>{% endif %}
    </div>
    <div class="custom-form">
        <button class="btn btn-cs btn-primary btn-block" type="submit">Добавить ссылку</button>
    </div>

</form>
<div class="clear:both"></div>
</div>
<br>

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Название</th>
                                        <th>Реферальная ссылка</th>
                                        <th>Куда ведет</th>
                                        <th>Дата создания</th>
                                       <!-- <th>Удалить</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
									<td>{{ buy.name }}</td>
									<td><a target="_blank" href="{{ buy.partner_link_ref }}">{{ buy.partner_link_ref }}</a></td>
                                    <td><a target="_blank" href="{{ buy.partner_link }}">{{ buy.partner_link }}</a></td>
                                    <td>{{ buy.created|date:"j/n/Y" }}</td>
                                    <!--<td><a style="color:red" href=""><span class="glyphicon glyphicon-remove"></span></a></td>-->
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}