{% extends 'partner/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load partner_extras %}

{% block title %}PropForex - Статистика{% endblock %}

{% block content_header %}
<h1 class="page-header">Статистика</h1>
{% endblock %}

{% block content %}
<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Выберите период</h3>
			</div>
			<div class="panel-body">
            <div class="week-search" style="margin-left: 20px;">
					<a class="btn btn-default {% if request.get_full_path == '/stat/' %}active{% endif %}" role="button" href="{% url 'partner-stat' %}">Неделя</a>
					<a class="btn btn-default {% if request.get_full_path == '/stat/?day=-30' %}active{% endif %}" role="button" href="/stat/?day=-30">Месяц</a>
			</div>
            <form action="{{ request.get_full_path }}" method="get">
            <div class="time-search">
                <input type="hidden" value="{{ time_start }}" id="time_start-val">
                <input type="hidden" value="{{ time_finish }}" id="time_finish-val">
                <input type="hidden" value="{{ channel.id }}" id="id_channel">
				
				<input style="width: 150px;margin-left: 10px;" class="datetimeinput form-control" id="id_time_start" name="time_start" type="text">
				<input style="width: 150px;margin-left: 10px;" class="datetimeinputtwo form-control" id="id_time_finish" name="time_finish" type="text">
				<input style="width: 150px;margin-left: 10px;" class="btn btn-success btn-block" type="submit" value="Отфильтровать">
            {% if time_start_error %}<p>{{ time_start_error }}</p>{% endif %}
            {% if time_finish_error %}<p>{{ time_finish_error }}</p>{% endif %}
            </div>

            <div class="channel-search">

                <select name="channel" style="width:300px" class="js-example-placeholder-single js-states form-control" onchange="this.form.submit()" tabindex="-1">
                {% if channel %}
                    <option value="{{ channel.id }}">{{ channel.name }}</option>
                {% else %}
                    <option></option>
                {% endif %}
                    {% for link in links %}
                        {% if channel.id == link.id %}
                        {% else %}
                    <option value="{{ link.id }}">{{ link.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div></form>
            </div>


							<table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Переходы</th>
                                        <th>Лиды</th>
                                        <th style="color:blue;">Ожидает</th>
										<th style="color:green;">Принят</th>
										<th style="color:red;">Отклонен</th>
                                        <th>Сумма</th>
										<th>EPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for did in date_dats %}
									<tr>
												<td>{{ did|date:"j.n.Y" }}</td>
												<td>{{ ref_list|visit:did }}</td>
												<td>{{ ref_list|leads:did }}</td>
												<td>{{ ref_list|waits:did }}</td>
												<td>{{ ref_list|received:did }}</td>
												<td>{{ ref_list|output:did }}</td>
												<td>{{ ref_list|partner:did }}</td>
												<td>{{ ref_list|epc:did }}</td>
									</tr>
                                {% endfor %}
                                {% if week %}
                                <tr>
		                                	<td>Итого</td>
	                                		<td>{{ visit }}</td>
	                                		<td>{{ leads }}</td>
		                                	<td>{{ waits }}</td>
		                                	<td>{{ received }}</td>
		                                	<td>{{ output }}</td>
                                            <td>{{ partnerka }}</td>
		                                	<td>{{ epc }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
							</table>
</div>
{% endblock %}