{% extends 'partner/base.html' %}
{% load static from staticfiles %}

{% block title %}Редактировать данные{% endblock %}

{% block content_header %}
<h1 class="page-header">Редактировать данные</h1>
{% endblock %}

 {% block content %}


{% if yesout == True %}
<div class="alert alert-warning">Данные успешно изменены!</div>
{% elif yesout == False %}
<div class="alert alert-warning">Ошибка! проверьте вводимые данные</div>
{% endif %}

<form action="" method="post">{% csrf_token %}
<table cellpadding="5">
  <colgroup><col width="30%">
  <col width="70%">
	</colgroup><tbody><tr>


  <tr>
    <td>Имя:</td>
    <td>
	<div class="form-group">
	<input type="text" name="first_name" value="{{ users.first_name }}" class="form-control">
	</div>
	</td>
  </tr>
  	<tr><td>Телефон:</td>
  	<td>
	<div class="form-group">
	<input type="text" name="phone" value="{{ users.phone }}" class="form-control">
	</div>
	</td>
  </tr>

  <tr>
  	<td></td>
  	<td><input type="submit" value="Сохранить" class="btn btn-lg btn-primary btn-block  pull-right"></td>
  </tr>
</tbody></table>

</form>

{% endblock %}