{% extends 'partner/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">

    <link rel="stylesheet" href="{% static 'css/sb-partner.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>

{% endblock %}

{% block title %}PropForex - Промо-материалы{% endblock %}

{% block content_header %}
<h1 class="page-header">Промо-материалы</h1>
{% endblock %}

{% block content %}
<div id="accordion">
  <!--h3>Лэндинги</h3>
  <div>
    <p>Mauris mauris ante, blandit et, ultrices a, suscipit eget.
    Integer ut neque. Vivamus nisi metus, molestie vel, gravida in,
    condimentum sit amet, nunc. Nam a nibh. Donec suscipit eros.
    Nam mi. Proin viverra leo ut odio.</p>
  </div-->
  <h3>Баннеры</h3>
  <div>
                <img src="{% static 'banner/200x200px1.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (200x200px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/200x200px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/240x400px1.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (240x400px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/240x400px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/468x60px1.jpg' %}">
                <div><p><h3>Код для вставки (468x60px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/468x60px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/728x90px1.jpg' %}">
                <div><p><h3>Код для вставки (728x90px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/728x90px1.jpg"></a></textarea>
                </p>
                </div>
				
                <div style="clear: both"></div><br>
 <hr><hr>
                <img src="{% static 'banner/200x200px2.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (200x200px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/200x200px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/240x400px2.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (240x400px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/240x400px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/468x60px2.jpg' %}">
                <div><p><h3>Код для вставки (468x60px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/468x60px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/728x90px2.jpg' %}">
                <div><p><h3>Код для вставки (728x90px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/728x90px2.jpg"></a></textarea>
                </p>
                </div>
  </div>
  <!--h3>Письма в рассылку</h3>
  <div>
    <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus.
    Quisque lobortis.Phasellus pellentesque purus in massa.</p>
    <ul>
      <li>List item one</li>
      <li>List item two</li>
      <li>List item three</li>
    </ul>
  </div-->
</div>
  <script>
$( "#accordion" ).accordion();
</script>
{% endblock %}