{% extends 'partner/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load partner_extras %}

{% block title %}PropForex - Лиды{% endblock %}

{% block content_header %}
<h1 class="page-header">Лиды</h1>
{% endblock %}

{% block content %}

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>ID</th>
                                        <th>Дата регистрации</th>
                                        <th>Канал</th>
                                        <th>Статус</th>
                                        <th>Дата изменения Статуса</th>
                                        <th>Цена лида</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
                                    <td>{{ forloop.counter }}</td>
									<td>{{ buy.refer.id }}</td>
									<td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.landing.name }}</td>
                                    <td>{{ buy.get_result_display }}</td>
                                    <td>
                                        {% if buy.result == 2 or buy.result == 3 %}
                                         {{ buy.updated|date:"j/n/Y H:i:s" }}
                                        {% endif %}
                                    </td>
                                    <td>{{ buy.ref.user_id|price_lid }}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}