{% extends 'partner/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}PropForex - Вывод средств{% endblock %}

{% block content_header %}
<h1 class="page-header">Вывод средств</h1>
{% endblock %}

{% block content %}

{% if success %}
<div class="alert alert-warning">{{ success }}</div>
{% endif %}

{% if errorss %}
<div class="alert alert-warning">{{ errorss }}</div>
{% endif %}
{% if users.number_sistem  or success %}
{% else %}
<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Добавление системы вывода денежных средств (Можно добавить только один раз)</h3>
				</div>
                <div class="panel-body">
				<form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ next }}">
                <div class="form-group">
                    <h4>Выберете платежную систему</h4>
                    <select class="form-control" name="sistema">
                        <option value="0">QIWI</option>
                        <option value="1">Яндекс.Деньги</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Введите номер" class="form-control" name="number" id="id_summa">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
                </div>
                </form>
                </div>
</div><br>
{% endif %}

{% if yesout == True %}
<div class="alert alert-warning">Заявка на вывод успешно создана</div>
{% elif yesout == False %}
<div class="alert alert-warning">Ошибка! проверьте ваши данные</div>
{% endif %}
{% if errors %}
<div class="alert alert-warning">{{ errors }}</div>
{% endif %}
<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Вывод средств</h3>
				</div>
                <div class="panel-body">
				<form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ next }}">
                <div class="form-group">
                    <input type="text" placeholder="Введите желаемую сумму на вывод" class="form-control" name="summa" id="id_summa">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
                </div>
                </form>
                </div>

<!--br>
 {% if historys %}
<h3 class="panel-title">История заявок на вывод средств</h3>
<br-->
<table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Сумма</th>
                                        <th>Система</th>
                                        <th>Кошелек</th>
                                        <th>Статус</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for history in historys %}
                                <tr>
		                                	<td>{{ history.created|date:"j.n.Y" }}</td>
	                                		<td>{{ history.sum }}</td>
	                                		<td>{{ history.user.get_sistemas_display }}</td>
                                            <td>{{ history.user.number_sistem }}</td>

		                                	<td>

                                                {{ history.get_result_display }}
                                                {% if history.result == 0 %}(<a href="{% url 'partner-output-delete' history.id %}">Отменить</a>){% endif %}
                                            </td>

                                </tr>
                                {% endfor %}
                                </tbody>
</table>
</div>
{% endif %}
{% endblock %}