{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Партнерская программа{% endblock %}

{% block content_header %}
<h1 class="page-header">Партнерская программа</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Партнёрка</span></li> </ol>
{% endblock %}

 {% block content %}
     <!--
<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Баннеры</h3>
			</div>
			<div class="panel-body">
                Баннеры тут
			</div>
</div>
-->
<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Выберите период</h3>
			</div>
			<div class="panel-body">
					<a class="btn btn-xs btn-default {% if request.get_full_path == '/cabinet/affilate/' %}active{% endif %}" role="button" href="{% url 'affilate' %}">Сегодня</a>
					<a class="btn btn-xs btn-default {% if request.get_full_path == '/cabinet/affilate/?day=-7' %}active{% endif %}" role="button" href="{% url 'affilate' %}?day=-7">Неделя</a>
					<a class="btn btn-xs btn-default {% if request.get_full_path == '/cabinet/affilate/?day=-30' %}active{% endif %}" role="button" href="{% url 'affilate' %}?day=-30">Месяц</a>
					<a class="btn btn-xs btn-default {% if request.get_full_path == '/cabinet/affilate/?day=-365' %}active{% endif %}" role="button" href="{% url 'affilate' %}?day=-365">Год</a>
			</div>


							<table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата от</th>
                                        <th>Переходы по ссылке</th>
                                        <th>Регистрации пользовалелей</th>
                                        <th>Количество оплаченых билетов</th>
										<th>Общая сумма продаж $</th>
										<th>Начисленная комиссия (10% с продаж)$</th>
										<th>EPC $</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
		                                	<td>{{ dates|date:"j.n.Y" }}</td>
	                                		<td>{{ ref_list.count }}</td>
	                                		<td>{{ all_refer }}</td>
		                                	<td>{{ count_buy }}</td>
		                                	<td>${{ summa_buy }}</td>
		                                	<td>${{ amount_buy_two }}</td>
		                                	<td>${{ epct }}</td>
                                </tr>
                                </tbody>
							</table>
</div>
<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Ваша партнёрская ссылка (начисляется 10% с продаж привлеченных клиентов)</h3>
				</div>
				<div class="panel-body"><a class="" target="_blank" href="http://propforex.co/?pl={{ user.id }}">http://propforex.co/?pl={{ user.id }}</a> - На главную страницу PropForex.co</div>
				<!--div class="panel-body">2) <a class="" target="_blank" href="http://propforex.co/lp2/?pl={{ user.id }}">http://propforex.co/lp2/?pl={{ user.id }}</a> - Дополнительный Landing Page</div-->


				<div class="list-group">
					<span class="list-group-item active">Баланс - ${{ balance }}</span>
					<span class="list-group-item">Заработано всего - ${{ epc }} </span>
					<span class="list-group-item">Выведено - ${{ job_out }}</span>
				</div>

</div>

{% if success %}
<div class="alert alert-warning">{{ success }}</div>
{% endif %}

{% if errorss %}
<div class="alert alert-warning">{{ errorss }}</div>
{% endif %}
{% if users.sistemas == 0 or users.sistemas == 1 or success %}
{% else %}
<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Добавление системы вывода денежных средств (Можно добавить только один раз)</h3>
				</div>
                <div class="panel-body">
				<form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ next }}">
                <div class="form-group">
                    <h4>Выберете платежную систему</h4>
                    <select class="form-control" name="sistema">
                        <option value="0">QIWI</option>
                        <option value="1">Яндекс.Деньги</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="number" placeholder="Введите номер" class="form-control" name="number" id="id_summa">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Добавить</button>
                </div>
                </form>
                </div>
</div><br>
{% endif %}

{% if yesout == True %}
<div class="alert alert-warning">Заявка на вывод успешно создана</div>
{% elif yesout == False %}
<div class="alert alert-warning">Ошибка! проверьте ваши данные</div>
{% endif %}
{% if errors %}
<div class="alert alert-warning">{{ errors }}</div>
{% endif %}
<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Вывод средств</h3>
				</div>
                <div class="panel-body">
				<form class="form-signin col-lg-4" method="post">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ next }}">
                <div class="form-group">
                    <input type="text" placeholder="Введите желаемую сумму на вывод (от $10)" class="form-control" name="summa" id="id_summa">
                </div>

                <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block" type="submit">Отправить</button>
                </div>
                </form>
                </div>

<!--br>
 {% if historys %}
<h3 class="panel-title">История заявок на вывод средств</h3>
<br-->
<table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Сумма</th>
                                        <th>Система</th>
                                        <th>Кошелек</th>
                                        <th>Статус</th>

                                    </tr>
                                </thead>
                                <tbody>
                                {% for history in historys %}
                                <tr>
		                                	<td>{{ history.created|date:"j.n.Y" }}</td>
	                                		<td>${{ history.sum }}</td>
	                                		<td>{{ history.user.get_sistemas_display }}</td>
                                            <td>{{ history.user.number_sistem }}</td>
		                                	<td>
                                                {{ history.get_result_display }}
                                                {% if history.result == 0 %}(<a href="{% url 'affilate-delete' history.id %}">Отменить</a>){% endif %}
                                            </td>

                                </tr>
                                {% endfor %}
                                </tbody>
</table>
</div>
{% endif %}
{% endblock %}