{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Активные билеты{% endblock %}

{% block content_header %}
<h1 class="page-header">Активные билеты</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Активные билеты</span></li> </ol>
{% endblock %}

{% block content %}
{% if yesticket_list %}

<div class="alert alert-warning"><span style="color:red;">Внимание!</span> Отмечаем, что начинать торговлю нужно в указанную дату старта в поле "Начало", она устанавливается на ближайший понедельник.<br>Данные "Счет брокера" и "Пароль" будут дополнены администратором в выходные дни биржи, минимум за три часа до её открытия в понедельник.<br>После того, как будет присвоен "Счет брокера" и "Пароль" Вы получите уведомление на почту.</div>

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
										<th>Покупка</th>
                                        <th>Начало</th>
                                        <th>Конец</th>
                                        <th>Стартовая</th>
                                        <th>Стоимость</th>
										<th>Счет брокера</th>
										<th>Пароль</th>
										<th>Сервер</th>
                                    </tr>
                                </thead>
								<div class="alert alert-warning"><a href="https://clients.concordbay.ru/ru/p/CD37453B/" target="_blank">Скачать терминал МТ4</a> (откроется в новом окне)</div>
                                <tbody>
                                {% for buy in yesticket_list %}
									<tr {% if buy.upr_status %} style="background-color: #ac2925;color: white;"{% endif %}>
									<td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.time_start|date:"j/n/Y"  }}</td>
                                    <td>{{ buy.time_finish|date:"j/n/Y"  }}</td>
                                    <td>${{ buy.ticket.amount }}</td>
                                    <td>${{ buy.ticket.value }}</td>
                                    <td>{% if buy.invoice %}{{ buy.invoice }}{% endif %}</td>
                                    <td>{% if buy.password %}{{ buy.password }}{% endif %}</td>
                                    <td>{% if buy.server %}{{ buy.server }}{% endif %}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% else %}
<div class="alert alert-warning">Нет подходящих записей.</div>
{% endif %}
{% endblock %}