{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Информация{% endblock %}

{% block content_header %}
<h1 class="page-header">Информация</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Информация</span></li> </ol>
{% endblock %}

 {% block content %}
<p><object width="578" height="325" data="http://www.youtube.com/v/uoBuw9KuDlI?version=3&amp;hl=en_US" type="application/x-shockwave-flash"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><param name="wmode" value="transparent"><param name="src" value="http://www.youtube.com/v/uoBuw9KuDlI?version=3&amp;hl=en_US"><param name="allowfullscreen" value="true"></object></p>
<p><a href="http://propforex.co/#tariff" target="_blank">Тарифные планы и условия отбора</a>&nbsp;</p>
<p><a href="http://propforex.co/#broker" target="_blank">Брокер и торговая платформа</a></p>
<p><a href="http://propforex.co/#investors" target="_blank">Предложение для инвесторов</a></p>
{% endblock %}