{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Личный кабинет{% endblock %}

{% block content_header %}
<h1 class="page-header">Личный кабинет</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li><li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Личный кабинет</span></li> </ol>
{% endblock %}

 {% block content %}
<div class="page-header col-lg-4">
		<ul class="nav nav-pills">
			<li class="active">
				<a href="/cabinet/?webloginmode=lo">Выйти</a>
			</li>
			<li>
				<a href="{% url 'user-edit' %}">Редактировать данные</a>
			</li>
		</ul>
	</div>
{% endblock %}