{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">

{% endblock %}

{% block bootstrap3_content %}
<body>

    <div id="wrapper">

        <!-- Navigation -->
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://propforex.co/">PropForex</a>
            </div>
            <!-- Top Menu Items -->
			            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if request.user.is_authenticated %}
                    <a href="{% url 'user-edit' %}" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="{% url 'user-edit' %}"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                    <li>
                        <a href="{% url 'auth_logout' %}"><i class="fa fa-fw fa-power-off"></i>Выход</a>
                    </li>
                    {% else %}

                    {% endif %}
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
                {% if request.user.is_authenticated %}
                {% with u=request.resolver_match.url_name %}
				<li {% if u == 'cabinet-rules' %}class="active"{% endif %}>
                    <a href="{% url 'cabinet-rules' %}"><i class="fa fa-fw  rowTpl fa-info"></i> Информация</a>
                </li>
                <li {% if u == 'buy-ticket' %}class="active"{% endif %}>
                    <a href="{% url 'buy-ticket' %}"><i class="fa fa-fw  rowTpl fa-money"></i> Купить билет</a>
                </li>
                <li {% if u == 'tickets' %}class="active"{% endif %}>
                    <a href="{% url 'tickets' %}"><i class="fa fa-fw  rowTpl fa-location-arrow"></i> Активные билеты</a>
                </li>
                <li {% if u == 'intickets' %}class="active"{% endif %}>
                    <a href="{% url 'intickets' %}"><i class="fa fa-fw  rowTpl fa-flag-checkered"></i> Неактивные билеты</a>
                </li>
                <!--li class="{% if u == 'affilate' %}active{% endif %}">
                    <a href="{% url 'affilate' %}"><i class="fa fa-fw  rowTpl fa-user"></i> Партнёрка</a>
                </li>
                <li class="last {% if u == 'material' %}active{% endif %}">
                    <a href="{% url 'material' %}"><i class="fa fa-fw  rowTpl fa-delicious"></i> Рекламные материалы</a>
                </li-->
                {% endwith %}
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 756177;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28055484 = new Ya.Metrika({id:28055484, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/28055484" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript><!-- /Yandex.Metrika counter -->


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6_ col-lg-12 ">
                        {% block content_header %}
                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-6_ col-lg-12 ">
                        {% block content %}
                        {% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

</body>
{% endblock %}