{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Вы успешно отписались от рассылки!{% endblock %}



 {% block content %}

<div class="panel panel-default">
<h3>Вы успешно отписались от рассылки!</h3>
</div>


{% endblock %}