{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">

{% endblock %}

{% block title %}Продолжение регистрации на сайте Propforex.co{% endblock %}

{% block bootstrap3_content %}
<body>

    <div id="wrapper">

         <!-- Navigation -->
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://propforex.co/">PropForex</a>
            </div>
                </nav>



        <div id="page-wrapper">


            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6_ col-lg-12 ">
                        {% block content_header %}
                           <h1 class="page-header">Заполните все поля для завершения регистрации</h1>
						   <div class="alert alert-warning"><span style="color:red;">Внимание!</span> Обязательно указывайте реальные данные, дальнейшее редактирование профиля будет недоступно без обращения в службу поддержки!</div>

                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-6_ col-lg-12 ">
                        {% block content %}
{% if err %}
        <div class="alert alert-danger fade in">{{ err }}</div>
{% endif %}
   <form class="col-lg-4" method="POST" action="">
                        {% csrf_token %}
                        <div class="form-group">
							<input type="text" class="form-control" placeholder="Имя" required="" name="first_name">
						</div>


                        <div class="form-group">
							<input type="text" class="form-control" placeholder="Отчество" required="" name="otchestvo">
						</div>

                        <div class="form-group">
							<input type="text" class="form-control" placeholder="Фамилия" required="" name="last_name">
						</div>

                        <div class="form-group">
							<input type="text" class="form-control" placeholder="Страна" required="" name="country">
						</div>

                        <div class="form-group">
							<input type="text" class="form-control" placeholder="Город" required="" name="city">
						</div>

                        <div class="form-group">
							<input class="datetimeinput form-control" id="birthday" name="birthday" required="" type="text" placeholder="Дата рождения">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Телефон" required="" name="phone">
						</div>

						<div class="form-group">
							<button class="btn btn-lg btn-primary btn-block" type="submit">Завершить регистрацию</button>
						</div>
					  </form>



                        {% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 756177;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();
</script>
<!-- End SiteHeart code -->

<!-- Yandex.Metrika counter --><script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter28055484 = new Ya.Metrika({id:28055484, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript>&lt;div&gt;&lt;img src="//mc.yandex.ru/watch/28055484" style="position:absolute; left:-9999px;" alt="" /&gt;&lt;/div&gt;</noscript><!-- /Yandex.Metrika counter -->

</body>
{% endblock %}
{% block bootstrap3_extra_script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
$(function() {
    $(".datetimeinput").datepicker();
    $(".datetimeinput").datepicker( "option", "dateFormat", "dd.mm.yy");
  });
</script>
{% endblock %}