{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Купить билет{% endblock %}

{% block content_header %}
<h1 class="page-header">Купить билет</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Купить билет</span></li> </ol>
{% endblock %}

{% block content %}
{% if object_list %}
<!--p>Все значения приведенные в таблице - в USD</p-->
<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Стоимость билета</th>
                                        <th>Длительность отбора</th>
                                        <th>Цель по прибыли</th>
                                        <th>Макс.дневная просадка</th>
										<th>Максимальная просадка</th>
										<th>Сумма в управление</th>
										<th>Купить</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
									<td>${{ buy.value }}</td>
									<td>{{ buy.duration }} дней</td>
									<td>${{ buy.goal }}</td>
									<td>${{ buy.sag_max }}</td>
									<td>${{ buy.sag_min }}</td>
									<td>${{ buy.amount }}</td>
									<td><a href="{% url 'cabinet-oplata' buy.id %}" class="btn btn-sm btn-success">Купить</a>
									</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% else %}
<div class="alert alert-warning">Нет подходящих записей.</div>
{% endif %}
{% endblock %}