{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Рекламные материалы{% endblock %}


{% block content_header %}
<h1 class="page-header">Рекламные материалы</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Рекламные материалы</span></li> </ol>
{% endblock %}

 {% block content %}

<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Рекламные материалы</h3>
			</div>
			<div class="panel-body">
                <img src="{% static 'banner/200x200px1.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (200x200px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/200x200px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/240x400px1.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (240x400px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/240x400px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/468x60px1.jpg' %}">
                <div><p><h3>Код для вставки (468x60px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/468x60px1.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/728x90px1.jpg' %}">
                <div><p><h3>Код для вставки (728x90px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/728x90px1.jpg"></a></textarea>
                </p>
                </div>
				
                <div style="clear: both"></div><br>
 <hr><hr>
                <img src="{% static 'banner/200x200px2.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (200x200px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/200x200px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/240x400px2.jpg' %}" style="float: left;">
                <div style="float: left;margin-left: 20px;"><p><h3>Код для вставки (240x400px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/240x400px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/468x60px2.jpg' %}">
                <div><p><h3>Код для вставки (468x60px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/468x60px2.jpg"></a></textarea>
                </p>
                </div>

                <div style="clear: both"></div><br>
<hr>
                <img src="{% static 'banner/728x90px2.jpg' %}">
                <div><p><h3>Код для вставки (728x90px):</h3>
                <textarea rows="3" cols="3" style="width:500px"><a href="http://propforex.co/?pl={{ user.id }}"><img src="http://propforex.co/static/banner/728x90px2.jpg"></a></textarea>
                </p>
                </div>

			</div>
</div>

{% endblock %}