{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Редактировать данные{% endblock %}

{% block content_header %}
<h1 class="page-header">Редактировать данные</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Редактировать данные</span></li> </ol>
{% endblock %}

 {% block content %}
    <!--h5>{{ noti_false }}</h5>
     <h3>Оповещения</h3-->
     {% if users.send %}
         <!--a href="{% url 'user-edit' %}?notification=False" class="btn btn-sm btn-danger">Отключить оповещения на почтовый ящик</a-->
     {% else %}
<a href="{% url 'user-edit' %}?notification=True" class="btn btn-sm btn-success">Включить оповещения на почтовый ящик</a>
    {% endif %}<br><br><br>

{% if yesout == True %}
<div class="alert alert-warning">Данные успешно изменены!</div>
{% elif yesout == False %}
<div class="alert alert-warning">Ошибка! проверьте вводимые данные</div>
{% endif %}

<form action="" method="post">{% csrf_token %}
<table cellpadding="5">
  <colgroup><col width="30%">
  <col width="70%">
	</colgroup><tbody><tr>


  <tr>
    <td>Имя:</td>
    <td>
	<div class="form-group">
	<input type="text" name="first_name" value="{{ users.first_name }}" class="form-control">
	</div>
	</td>
  </tr>
  <tr>
    <td>Фамилия:</td>
    <td>
	<div class="form-group">
	<input type="text" name="last_name" value="{{ users.last_name }}" class="form-control">
	</div>
	</td>
  </tr>
  	<tr><td>Телефон:</td>
  	<td>
	<div class="form-group">
	<input type="text" name="phone" value="{{ users.phone }}" class="form-control">
	</div>
	</td>
  </tr>

  <tr>
  	<td></td>
  	<td><input type="submit" value="Сохранить" class="btn btn-lg btn-primary btn-block  pull-right"></td>
  </tr>
</tbody></table>

</form>

{% endblock %}