{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Неактивные билеты{% endblock %}

{% block content_header %}
<h1 class="page-header">Неактивные билеты</h1>
<ol class="breadcrumb"><li><i class="fa fa-dashboard"></i>  <a class="B_homeCrumb" href="/" title="Главная">Главная</a></li> / <a class="B_crumb" href="/cabinet/" title="Личный кабинет">Личный кабинет</a> / <li class="active"><i class="fa fa-edit"></i> <span class="B_currentCrumb">Неактивные билеты</span></li> </ol>
{% endblock %}

{% block content %}
{% if yesticket_list %}
<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
										<th>Покупка</th>
                                        <th>Начало</th>
                                        <th>Конец</th>
                                        <th>Стартовая</th>
                                        <th>Стоимость</th>
										<th>Статус билета</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in yesticket_list %}
									<tr>
									<td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.time_start|date:"j/n/Y"  }}</td>
                                    <td>{{ buy.time_finish|date:"j/n/Y"  }}</td>
                                    <td>${{ buy.ticket.amount }}</td>
                                    <td>${{ buy.ticket.value }}</td>
                                    <td>{{ buy.get_status_display }}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% else %}
<div class="alert alert-warning">Нет подходящих записей.</div>
{% endif %}
{% endblock %}