{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
<html>
<head>
<title>Main - PropForex</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
</head>
<body>
	<header style="margin-top:35px;" class="clearfix">
		<div style="width: 100%; position: fixed; top:0px; ">
			<div class="wrap960 clearfix">
				<div class="phone">
					<strong> +7 495 2042 958 </strong><small>(10:00-18:00 GMT+3)</small>
				</div>
				<ul class="auth">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cabinet-rules' %}">Personal Page</a></li>
                    {% else %}
					<li><a href="{% url 'auth_login' %}" class="selected">Login</a></li>
					<li><a href="{% url 'registration' %}">Register</a></li>
                    {% endif %}
				</ul>
			</div>
		</div>
		<div class="wrap960">
			<a href="" class="logo" title="PropForex">
				<img src="{% static 'img/logo.png' %}" height="57" width="212" alt="PropForex">
			</a>
			<nav class="primary">
				<ul>
					<li class="selected"><a href="">Home</a></li>
					<li><a href="#tariff">Tariffs</a></li>
					<li><a href="#broker">Company</a></li>
					<li><a href="#investors">For Investors</a></li>
					<li><a href="#contacts">Contact Information</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="tiser">
		<article>
			<div>
				<p>Want $10,000 to Trade?</p>
				<p>Qualify and Get Real Money!</p>
			</div>
		</article>
	</section>
	<section class="how-work">
		<article>
			<h2>How Does This Work?</h2>
			<ul>
				<li>
					<a style="height:155px;" href="http://propforex.co/accounts/register/"><span class="icon icon1"></span></a>
					<a href="http://propforex.co/accounts/register/"><p>Registration in the Project</p></a>
					<span style="margin-top:-15px;">Be Sure to Enter Proper Data</span>
				</li>
				<li>
					<span class="icon icon2"></span>
					<p>Choose Your Tariff</p>
					<span>Purchase the Ticket to Participate</span>
				</li>
				<li>
					<span class="icon icon3"></span>
					<p>Demo Account</p>
					<span>Show Results on Demo Account</span>
				</li>
				<li>
					<span class="icon icon4"></span>
					<p>Get Your Money</p>
					<span>The Amount Depends on the Selected Tariff</span>
				</li>
			</ul>
		</article>
	</section>
	<section class="video">
		<article>
			<div>
				Just <span>2</span> weeks
				<strong>$10&nbsp;000</strong>
				For your Trade!
			</div>
			<iframe width="502" height="282" src="//www.youtube.com/embed/uoBuw9KuDlI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
		</article>
	</section>
	<section class="tariff" id="tariff">
		<article>
			<h2>Tariffs</h2>
			<table>
				<tbody><tr>
					<th><span>$1&nbsp;000</span>Funds to Trade</th>
					<th><span>$2&nbsp;000</span>Funds to Trade</th>
					<th><span>$5&nbsp;000</span>Funds to Trade</th>
					<th><span>$10&nbsp;000</span>Funds to Trade</th>
				</tr>
				<tr class="prices">
					<td><span>$10</span> Ticket Price</td>
					<td><span>$20</span> Ticket Price</td>
					<td><span>$50</span> Ticket Price</td>
					<td><span>$100</span> Ticket Price</td>
				</tr>
				<tr>
					<td>Term - 14 Days</td>
					<td>Term - 14 Days</td>
					<td>Term - 14 Days</td>
					<td>Term - 14 Days</td>
				</tr>
				<tr>
					<td>Leverage - 1:10</td>
					<td>Leverage - 1:10</td>
					<td>Leverage - 1:10</td>
					<td>Leverage - 1:10</td>
				</tr>
				<tr>
					<td>Daily Drawdown - $20</td>
					<td>Daily Drawdown - $40</td>
					<td>Daily Drawdown - $100</td>
					<td>Daily Drawdown - $200</td>
				</tr>
				<tr>
					<td>Max Drawdown - $40</td>
					<td>Max Drawdown - $80</td>
					<td>Max Drawdown - $200</td>
					<td>Max Drawdown - $400</td>
				</tr>
				<tr>
					<td>Profit Target - $100</td>
					<td>Profit Target - $200</td>
					<td>Profit Target - $500</td>
					<td>Profit Target - $1000</td>
				</tr>
			</tbody></table>
			<div class="notes">If all the conditions were met, but the profit target wasn't reached, 
			it is possible to participate again next tour without repayment (you will have another chance)..</div>
		</article>
	</section>
	<section class="selection">
		<article>
			<h2>Qualify Conditions</h2>
			<ul>
				<li>
					<span class="icon icon1"></span>
					<span>Qualify is Only 14 Days</span>
					This period includes 10 trading days. Trade starts on Monday and ends on Friday.
				</li>
				<li>
					<span class="icon icon2"></span>
					<span>60% of Trading Days Must Be Positive</span>
					6 out of 10 trading days must be positive. Positive is the day with an income of 10 pips (on majors).
				</li>
				<li>
					<span class="icon icon3"></span>
					<span>Daily Drawdown is No More Than 2%</span>
					Daily loss should be limited to maximum of 2% of the Deposit. You can continue to trade only the next day.
				</li>
				<li>
					<span class="icon icon4"></span>
					<span>Maximum Drawdown 4%</span>
					If drawdown is more than 4% trader will be disqualified. Try to avoid serious mistakes.
				</li>
				<li>
					<span class="icon icon5"></span>
					<span>50/50 Profit-Share</span>
					The profit between trader and company is divided weekly by 50/50. Any loss risks company will take on itself.
				</li>
				<li>
					<span class="icon icon6"></span>
					<span>Stop Loss is Necessary</span>
					Each order must have a fixed stop loss which does not exceed the daily drawdown. Trading without stop loss does not allowed.
				</li>
			</ul>
			<div class="notes">
				In case of stable trade we will raise trader's capital!
			</div>
		</article>
	</section>
	<section class="platform" id="broker">
		<article>
			<h2>Company and Trading Platform</h2>
			<h3>Main Partner - Concord Bay Brokerage Company</h3>
			<div class="half">
				<div class="concord-bay">
					<div class="icon"><img src="{% static 'img/concord_bay.png' %}" height="109" width="109" alt="Concord Bay"></div>
					<h4>Concord Bay - is:</h4>
					<ol>
						<li>
							<strong>lightning Fast Execution</strong>
							Trading servers are located in Equinix data-centre and have the fastest respond to liquidity provider.
						</li>
						<li>
							<strong>DMA - Market Access</strong>
							All client's orders directly goes to liquidity provider. Company doesn't use a market maker model (no B-Book).
						</li>
						<li>
							<strong>Strict Regulation of Activity</strong>
							Company leads all requirements of FSP, CBR, and European regulators, which gives a high level of reliability for traders.
						</li>
					</ol>
				</div>
			</div>
			<div class="half">
				<div class="metatrader">
					<div class="icon"><img src="{% static 'img/metatrader.png' %}" height="109" width="109" alt="MetaTrader 4"></div>
					<h4>MetaTrader 4 - The Most Popular Trading Platform</h4>
					<p>More than 90% of Forex traders use MetaQuotes platforms to trade.</p>
					<p>Use your familiar platform and perfect order execution, due to company's technologies, qualify will be much easier.</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="btn"><a style="color:#FFF; text-decoration:none;" href="https://clients.concordbay.ru/ru/p/AFB17F91/" target="_blank">Visit Company's Website</a></div>
		</article>
	</section>
	<section class="investors" id="investors">
		<article>
			<a class="btn">For Investors</a>
			<p>For investors we can offer a couple of profitable strategies for investing with minimum risk, and full control of deposit funds. Minimum investment is $5000 with more than 30% year income.</p>
			<p>For more investment details you can contact with investment manager.</p>
		</article>
	</section>
	<section>
		<article>
			<div class="carousel">
				<a href="" class="control prev"></a>
				<a href="" class="control next"></a>
				<div class="carousel-container">
					<ul><li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
					    <li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
                    </ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</article>
	</section>
	<section class="phone" id="contacts">
		<article>
			<div>
				<strong>+7 495 2042 958  from 10:00 to 18:00 +3GMT</strong>
			</div>
			<!--a href="" class="btn" id="call">Callback</a-->
		</article>
	</section>
	<footer>
		<a href="" class="logo"><img src="{% static 'img/logo-footer.png' %}" height="57" width="212" alt=""></a>
		<ul class="auth">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'cabinet-rules' %}">Personal Page</a></li>
            {% else %}
			    <li><a href="{% url 'auth_login' %}" class="selected">Login</a></li>
                <li>|</li>
				<li><a href="{% url 'registration' %}">Registration</a></li>
            {% endif %}
		</ul>
		<ul class="social clearfix">
			<li><a class="vk" href="https://vk.com/propforex" target="_blank"></a></li>
			<li><a class="fb"></a></li>
			<li><a class="tw"></a></li>
			<li><a class="ok"></a></li>
			<li><a class="gp"></a></li>
			<li><a class="yt"></a></li>
		</ul>
		<p>For the use of the materials of PropForex website: the source of the materials should be indicated in the title.</p>
		<p>© PropForex Ltd.–2014  |  <a href="http://propforex.co/static/oferta.html" target="_blank">Public Offer</a></p>
		<p>e-mail: <a href="mailto:invest@propforex.co">invest@propforex.co</a></p>
	</footer>
	<div id="call_modal" class="modal">
		<div id="result"></div>
		<form action="javascript:void(0)" onsubmit="sendmail()" method="post" id="msg">
            {% csrf_token %}
			<input type="text" name="name" id="name" placeholder="Name:">
			<input type="text" name="phone" id="phone" placeholder="Phone:">
			<input type="submit" value="Call me">
		</form>
	</div>
<script>
function sendmail() { //Ajax отправка формы
	var msg = $('#msg').serialize();
	$.ajax({
		type: 'POST',
		url: '{% url 'order-call' %}',
		data: msg,
		dataType: 'json',
		success: function(data) {
			console.log(data['data']['ok']);
			$('#msg').find('.error').remove();
			if(data['data']['error']){
				$('#name').before('<div class="error">'+data['data']['error']+'</div>');
			}
			if(data['data']['ok']) {
				$('#result').html(data['data']['ok']);
				setTimeout(function () {$.modal.close();}, 2000);
			}
		},
		error: function(xhr, str){
			console.log(xhr);
			console.log(str);
		}
	});
}

</script>

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 756177;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();/**/
</script>
<!-- End SiteHeart code -->

<!-- Start PLUSO code -->
<div style="position: fixed; top: 30%; right: 5px; z-index:1000;">
<script type="text/javascript">/*(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();*/</script>
<div class="pluso" data-background="#b64c4c" data-options="big,round,line,vertical,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"><div class="pluso-001010100110-06"><span class="pluso-wrap" style="background:#b64c4c"><a href="http://propforex.co/" title="ВКонтакте" class="pluso-vkontakte"></a><a href="http://propforex.co/" title="Одноклассники" class="pluso-odnoklassniki"></a><a href="http://propforex.co/" title="Facebook" class="pluso-facebook"></a><a href="http://propforex.co/" title="Twitter" class="pluso-twitter"></a><a href="http://propforex.co/" title="Google+" class="pluso-google"></a><a href="http://propforex.co/" title="Мой Мир@Mail.Ru" class="pluso-moimir"></a><a href="http://propforex.co/" title="Отправить на email" class="pluso-email"></a><a href="http://propforex.co/" title="Печатать" class="pluso-print"></a><a href="http://pluso.ru/" class="pluso-more"></a></span></div></div>
</div><script type="text/javascript" charset="UTF-8" async="" src="http://share.pluso.ru/pluso-like.js"></script>
<!-- End PLUSO code -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28055484 = new Ya.Metrika({id:28055484,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28055484" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.simplemodal.1.4.4.min.js' %}"></script>
<script src="{% static 'js/jquery.jcarousellite.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>

