{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
<html>
<head>
<title>Главная - PropForex</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
</head>
<body>
	<header style="margin-top:35px;" class="clearfix">
		<div style="width: 100%; position: fixed; top:0px; ">
			<div class="wrap960 clearfix">
				<div class="phone">
					<strong> +7 495 2042 958 </strong><small>(10:00-18:00 МСК)</small>
				</div>
				<ul class="auth">
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cabinet-rules' %}">Личный кабинет</a></li>
                    {% else %}
					<li><a href="{% url 'auth_login' %}" class="selected">Вход</a></li>
					<li><a href="{% url 'registration' %}">Регистрация</a></li>
                    {% endif %}
					<!--li><a target="_blank" href="http://propforex.co/static/faq.html">FAQ</a></li-->
				</ul>
			</div>
		</div>
		<div class="wrap960">
			<a href="" class="logo" title="PropForex">
				<img src="{% static 'img/logo.png' %}" height="57" width="212" alt="PropForex">
			</a>
			<nav class="primary">
				<ul>
					<li class="selected"><a href="">Главная</a></li>
					<li><a href="#tariff">Тарифы</a></li>
					<li><a href="#broker">Брокер</a></li>
					<li><a href="#investors">Инвесторам</a></li>
					<li><a href="#contacts">Контакты</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<section class="tiser">
		<article>
			<div>
				<p>Хотите до $10 000 в управление?</p>
				<p>Пройдите отбор и получите деньги!</p>
			</div>
		</article>
	</section>
	<section class="how-work">
		<article>
			<h2>Как это работает</h2>
			<ul>
				<li>
					<a style="height:155px;" href="http://propforex.co/accounts/register/"><span class="icon icon1"></span></a>
					<a href="http://propforex.co/accounts/register/"><p>Регистрация в проекте</p></a>
					<span style="margin-top:-15px;">Обязательно укажите корректные данные</span>
				</li>
				<li>
					<span class="icon icon2"></span>
					<p>Выбор тарифа</p>
					<span>Оплатите билет для участия в отборе</span>
				</li>
				<li>
					<span class="icon icon3"></span>
					<p>Торговля на демо</p>
					<span>Покажите результаты на демо-счете</span>
				</li>
				<li>
					<span class="icon icon4"></span>
					<p>Получите деньги</p>
					<span>Сумма зависит от выбранного тарифа</span>
				</li>
			</ul>
		</article>
	</section>
	<section class="video">
		<article>
			<div>
				Всего за <span>2</span> недели
				<strong>$10 000</strong>
				долларов в управление!
			</div>
			<iframe width="502" height="282" src="//www.youtube.com/embed/uoBuw9KuDlI?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen=""></iframe>
		</article>
	</section>
	<section class="tariff" id="tariff">
		<article>
			<h2>Тарифные планы</h2>
			<table>
				<tbody><tr>
					<th><span>$1 000</span>Капитал в управление</th>
					<th><span>$2 000</span>Капитал в управление</th>
					<th><span>$5 000</span>Капитал в управление</th>
					<th><span>$10 000</span>Капитал в управление</th>
				</tr>
				<tr class="prices">
					<td><span>$10</span> Стоимость билета</td>
					<td><span>$20</span> Стоимость билета</td>
					<td><span>$50</span> Стоимость билета</td>
					<td><span>$100</span> Стоимость билета</td>
				</tr>
				<tr>
					<td>Срок - 14 дней</td>
					<td>Срок - 14 дней</td>
					<td>Срок - 14 дней</td>
					<td>Срок - 14 дней</td>
				</tr>
				<tr>
					<td>Плечо - 1:10</td>
					<td>Плечо - 1:10</td>
					<td>Плечо - 1:10</td>
					<td>Плечо - 1:10</td>
				</tr>
				<tr>
					<td>Дневная просадка - $20</td>
					<td>Дневная просадка - $40</td>
					<td>Дневная просадка - $100</td>
					<td>Дневная просадка - $200</td>
				</tr>
				<tr>
					<td>Макс.просадка - $40</td>
					<td>Макс.просадка - $80</td>
					<td>Макс.просадка - $200</td>
					<td>Макс.просадка - $400</td>
				</tr>
				<tr>
					<td>Цель по прибыли - $100</td>
					<td>Цель по прибыли - $200</td>
					<td>Цель по прибыли - $500</td>
					<td>Цель по прибыли - $1000</td>
				</tr>
			</tbody></table>
			<div class="notes">Если выполнены все условия, но цель по прибыли не достигнута,
			можно участвовать еще раз в следующем отборе без повторной оплаты билета (предоставляется второй шанс).</div>
		</article>
	</section>
	<section class="selection">
		<article>
			<h2>Условия конкурсного отбора</h2>
			<ul>
				<li>
					<span class="icon icon1"></span>
					<span>Длительность отбора всего 14 дней</span>
					Данный интервал времени предполагает 10 торговых дней. Торговля всегда начинается в понедельник и завершается в пятницу.
				</li>
				<li>
					<span class="icon icon2"></span>
					<span>60% торговых дней закрыты в "плюс"</span>
					6 из 10 торговых дней должны быть прибыльны. Прибыльным считается день с доходом от 10 pip (по основным валютным парам).
				</li>
				<li>
					<span class="icon icon3"></span>
					<span>Дневная просадка не более 2%</span>
					Дневной лимит потерь должен быть ограничен 2% от капитала. Продолжить торговлю можно только на следующий день.
				</li>
				<li>
					<span class="icon icon4"></span>
					<span>Максимальная просадка не более 4%</span>
					Просадка более чем на 4% приводит к дисквалификации трейдера. Старайтесь не допускать серьезных ошибок.
				</li>
				<li>
					<span class="icon icon5"></span>
					<span>Разделение прибыли 50/50</span>
					Прибыль между трейдером и компанией делится 50/50 еженедельно. Риски за возможный убыток берет на себя компания.
				</li>
				<li>
					<span class="icon icon6"></span>
					<span>Обязательная установка Stop Loss</span>
					Каждый ордер должен иметь фиксированный стоп-лосс, не превышающий допустимую дневную просадку. Торговля без стопов не допускается.
				</li>
			</ul>
			<div class="notes">
				При стабильной торговле мы увеличим капитал трейдера!
			</div>
		</article>
	</section>
	<section class="platform" id="broker">
		<article>
			<h2>Брокер и торговая платформа</h2>
			<h3>Основной партнер нашей компании - брокерская компания Concord Bay</h3>
			<div class="half">
				<div class="concord-bay">
					<div class="icon"><img src="{% static 'img/concord_bay.png' %}" height="109" width="109" alt="Concord Bay"></div>
					<h4>Concord Bay - это:</h4>
					<ol>
						<li>
							<strong>Молниеносное исполнение</strong>
							Торговые сервера брокера расположены в дата-центре Equinix и имеют самый быстрый отклик до поставщиков ликвидности.
						</li>
						<li>
							<strong>DMA - доступ к рынку</strong>
							Все сделки клиентов выводятся напрямую поставщикам ликвидности. Брокер не использует в своей работе модель маркетмейкера (отсутствует B-Book).
						</li>
						<li>
							<strong>Строгая регуляция деятельности</strong>
							Брокер выполняет требования FSP, ЦБ РФ, а также всех европейских регуляторов, что дает высокий уровень надежности для трейдеров.
						</li>
					</ol>
				</div>
			</div>
			<div class="half">
				<div class="metatrader">
					<div class="icon"><img src="{% static 'img/metatrader.png' %}" height="109" width="109" alt="MetaTrader 4"></div>
					<h4>MetaTrader 4 - популярная платформа для трейдинга</h4>
					<p>Более 90% форекс-трейдеров используют в своей торговле терминал компании MetaQuotes.</p>
					<p>Используя привычную платформу и идеальное исполнение ордеров, благодаря технологиям брокера, пройти конкурсный отбор намного легче.</p>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="btn"><a style="color:#FFF; text-decoration:none;" href="https://clients.concordbay.ru/ru/p/925CB457/" target="_blank">Посетить сайт брокера</a></div>
		</article>
	</section>
	<section class="investors" id="investors">
		<article>
			<a class="btn">Инвесторам</a>
			<p>Для инвесторов мы готовы предложить несколько выгодных стратегий инвестирования с минимальным риском и полным контролем денежных средств на счете. Минимальная сумма инвестирования составляет всего $5000, а доходность превышает 30% годовых.</p>
			<p>Детальную информацию о возможности инвестирования вы можете запросить у менеджера нашей компании по скайпу propforex.</p>
		</article>
	</section>
	<section>
		<article>
			<div class="carousel">
				<a href="" class="control prev"></a>
				<a href="" class="control next"></a>
				<div class="carousel-container">
					<ul><li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
						<li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
					    <li><a><img src="{% static 'img/client1.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client2.jpg' %}" alt=""></a></li>
                        <li><a><img src="{% static 'img/client3.jpg' %}" alt=""></a></li>
                    </ul>
				</div>
			</div>
			<div class="clearfix"></div>
		</article>
	</section>
	<section class="phone" id="contacts">
		<article>
			<div>
				<strong>+7 495 2042 958  с 10:00 до 18:00 Московского времени</strong>
			</div>
			<!--a href="" class="btn" id="call">Обратный звонок</a-->
		</article>
	</section>
	<footer>
		<a href="" class="logo"><img src="{% static 'img/logo-footer.png' %}" height="57" width="212" alt=""></a>
		<ul class="auth">
            {% if request.user.is_authenticated %}
                <li><a href="{% url 'cabinet-rules' %}">Личный кабинет</a></li>
            {% else %}
			    <li><a href="{% url 'auth_login' %}" class="selected">Вход</a></li>
                <li>|</li>
				<li><a href="{% url 'registration' %}">Регистрация</a></li>
            {% endif %}
		</ul>
		<ul class="social clearfix">
			<li><a class="vk" href="https://vk.com/propforex" target="_blank"></a></li>
			<li><a class="fb" href="https://www.facebook.com/groups/1389206084724282" target="_blank"></a></li>
			<li><a class="tw" href="http://twitter.com/PropForexCo" target="_blank"></a></li>
			<li><a class="ok" href="http://ok.ru/group/52391271792850" target="_blank"></a></li>
			<li><a class="gp"></a></li>
			<li><a class="yt"></a></li>
		</ul>
		<p>Перепечатка любых материалов сайта только со ссылкой на источник</p>
		<p>© PropForex.co 2015  |  <a href="http://propforex.co/static/oferta.html" target="_blank">Публичная оферта</a></p>
		<p>Эл. почта: <a href="mailto:invest@propforex.co">invest@propforex.co</a></p>
		<p>Skype: propforex</p>
		
	</footer>
	<div id="call_modal" class="modal">
		<div id="result"></div>
		<form action="javascript:void(0)" onsubmit="sendmail()" method="post" id="msg">
            {% csrf_token %}
			<input type="text" name="name" id="name" placeholder="Имя:">
			<input type="text" name="phone" id="phone" placeholder="Телефон:">
			<input type="submit" value="Позвоните мне">
		</form>
	</div>
<script>
function sendmail() { //Ajax отправка формы
	var msg = $('#msg').serialize();
	$.ajax({
		type: 'POST',
		url: '{% url 'order-call' %}',
		data: msg,
		dataType: 'json',
		success: function(data) {
			console.log(data['data']['ok']);
			$('#msg').find('.error').remove();
			if(data['data']['error']){
				$('#name').before('<div class="error">'+data['data']['error']+'</div>');
			}
			if(data['data']['ok']) {
				$('#result').html(data['data']['ok']);
				setTimeout(function () {$.modal.close();}, 2000);
			}
		},
		error: function(xhr, str){
			console.log(xhr);
			console.log(str);
		}
	});
}

</script>

<!-- Start SiteHeart code -->
<script>
(function(){
var widget_id = 756177;
_shcp =[{widget_id : widget_id}];
var lang =(navigator.language || navigator.systemLanguage
|| navigator.userLanguage ||"en")
.substr(0,2).toLowerCase();
var url ="widget.siteheart.com/widget/sh/"+ widget_id +"/"+ lang +"/widget.js";
var hcc = document.createElement("script");
hcc.type ="text/javascript";
hcc.async =true;
hcc.src =("https:"== document.location.protocol ?"https":"http")
+"://"+ url;
var s = document.getElementsByTagName("script")[0];
s.parentNode.insertBefore(hcc, s.nextSibling);
})();/**/
</script>
<!-- End SiteHeart code -->

<!-- Start PLUSO code -->
<div style="position: fixed; top: 30%; right: 5px; z-index:1000;">
<script type="text/javascript">/*(function() {
  if (window.pluso)if (typeof window.pluso.start == "function") return;
  if (window.ifpluso==undefined) { window.ifpluso = 1;
    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
  }})();*/</script>
<div class="pluso" data-background="#b64c4c" data-options="big,round,line,vertical,nocounter,theme=06" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir,email,print"><div class="pluso-001010100110-06"><span class="pluso-wrap" style="background:#b64c4c"><a href="http://propforex.co/" title="ВКонтакте" class="pluso-vkontakte"></a><a href="http://propforex.co/" title="Одноклассники" class="pluso-odnoklassniki"></a><a href="http://propforex.co/" title="Facebook" class="pluso-facebook"></a><a href="http://propforex.co/" title="Twitter" class="pluso-twitter"></a><a href="http://propforex.co/" title="Google+" class="pluso-google"></a><a href="http://propforex.co/" title="Мой Мир@Mail.Ru" class="pluso-moimir"></a><a href="http://propforex.co/" title="Отправить на email" class="pluso-email"></a><a href="http://propforex.co/" title="Печатать" class="pluso-print"></a><a href="http://pluso.ru/" class="pluso-more"></a></span></div></div>
</div><script type="text/javascript" charset="UTF-8" async="" src="http://share.pluso.ru/pluso-like.js"></script>
<!-- End PLUSO code -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter28055484 = new Ya.Metrika({id:28055484,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/28055484" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<script src="{% static 'js/jquery-1.11.1.min.js' %}"></script>
<script src="{% static 'js/jquery.simplemodal.1.4.4.min.js' %}"></script>
<script src="{% static 'js/jquery.jcarousellite.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>

</body>
</html>

