{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Оплатить заказ{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
<h2>Оплатить {{ summa }} руб.</h2>
<form action="{{ form.target }}" method="POST">
        <p>{{ form.as_p }}</p>
        <p><input class="btn btn-success" type="submit" value="Купить"></p>
    </form>
{% endblock %}
