<html>
<head><meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /><meta content="width = device-width" name="viewport" />
	<title>PropForex.co - Данные с доступом к счету активного билета</title>
</head>
<body>
<div style="background: url(http://propforex.co/static/img/pattern.jpg) repeat repeat;  padding: 10px 0;">
<div style="max-width: 500px; margin: 0px auto; margin-bottom: 50px; font-family: Verdana, times, serif; font-size: 18px; ">
<div style="padding: 25px 0 25px 0; text-align: center;">
<header><a href="http://PropForex.co" target="_blank"><img alt="" height="" id="logo" src="http://propforex.co/static/img/logo_mail.png" /></a></header>
</div>

<div style="padding: 0px 8px 0px 8px; background: #fff;">
<div style="background: #ffffff; padding: 10px 13px;">
<div style="font-size: 14px; color: #636363;">
{% block content %}

{% endblock %}
</div>
</div>
</div>

<div style="background: #b64c4c; padding: 16px 88px 35px 88px;">
<div style="font-size: 13px; color: #ffffff; display: inline-block;">
<div>С уважением, команда PropForex.co</div>

<div>Наш сайт:&nbsp;<a href="http://PropForex.co"><span style="color:#FFFFFF;">PropForex.co</span></a></div>

<div>Электронная почта:&nbsp;invest@PropForex.co</div>
</div>
</div>

<p><span style="font-size:9px;"><span style="font-family:verdana,geneva,sans-serif;">Вы получили это письмо, т.к. подтвердили свое согласие на получение информационных писем от проекта PropForex.co<span style="font-size:12px;"> Мы не рассылаем спам, Вы всегда можете <a href="http://propforex.co/cabinet/user/{{ users.email }}/?notification=False">отписаться в один клик</a>.</span></span></span></p>
</div>
</div>
</body>
</html>