{% extends 'mailchimp/base.html' %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);"><span style="font-family:verdana,geneva,sans-serif;"><strong>Здравствуйте, {% block users %}{{ users }}{% endblock %}!</strong></span></div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">
<p style="text-align: left;">Спасибо за регистрацию!</p>

<p style="text-align: left;">Ознакомьтесь с обещанной информацией о пропайпери трейдинге.</p>
<p style="text-align: left;">Давно известна практика для трейдеров фондовых рынков, когда можно оплатить небольшой взнос, показать на практике свои навыки и в короткие сроки получить большую сумму в управление.</p>
<p style="text-align: left;">Существует такой проект и для трейдеров торгующих на форекс. В рунете такой проект единственный и не имеет аналогов, называется он PropForex.co.</p>
<p style="text-align: left;">PropForex.co предоставляет возможность каждому трейдеру получить крупную сумму в доверительное управление уже через две недели. Для этого управляющему нужно авторизоваться на проекте PropForex.co, используя:</p>
<p style="text-align: left;">адрес своей электронной почты - <b>{{ users.email }}</b></p>
<p style="text-align: left;">сгенерированный пароль - <b>{{ past }}</b></p>
<p style="text-align: left;">Затем, в <a href="http://propforex.co/cabinet/user/" target="_blank">настройках личного кабинета заполнить корректные данные своего профиля</a> и <a href="http://propforex.co/cabinet/buy-ticket/" target="_blank">приобрести билет</a> на выбор с той суммой которую он хочет получить в управление, торговать в течение 14 дней выполняя условия отбора, показать прибыльную и стабильную торговлю и получить от проекта деньги в доверительное управление.</p>
<p style="text-align: left;">Чтобы наглядно ознакомиться с принципом работы сервиса, посмотрите небольшую <a href="http://propforex.co/cabinet/rules" target="_blank">видео-презентацию</a></p>


<p style="text-align: left;">Если вам потребуется какая-либо помощь, смело обращайтесь в службу поддержки.</p>
</div>
{% endblock %}