{% extends 'mailchimp/base.html' %}
{% block users %}{{ users }}{% endblock %}
{% block content %}
<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);"><span style="font-family:verdana,geneva,sans-serif;"><strong>Уведомление администратору PropForex.co!</strong></span></div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); text-align: center; background-color: rgb(255, 255, 255);">&nbsp;</div>

<div style="font-family: SourceSansPro-Light, Georgia, times, serif; font-size: 14px; color: rgb(99, 99, 99); background-color: rgb(255, 255, 255);">Пользователь заказал&nbsp;<strong><a href="http://propforex.co/manager/affilate/" target="_blank">вывод средств</a></strong>!</div>
{% endblock %}