

@font-face {
font-family: 'PFDinTextCondPro-Medium';
font-style: normal;
font-weight: normal;
src: local('PFDinTextCondPro-Medium'), url('../fonts/landing/PFDinTextCondPro-Medium.woff') format('woff');
}


@font-face {
font-family: 'PFDinTextCondPro-Light';
font-style: normal;
font-weight: normal;
src: local('PFDinTextCondPro-Light'), url('../fonts/landing/PFDinTextCondPro-Light.woff') format('woff');
}

body {
    font-family: 'PFDinTextCondPro-Light';
    background-color: #222;
}



#background{
   position:fixed;
   z-index:0;
   top:0;
   right:0;
   bottom:0;
   left:0;
   background: url("../img/landing.jpg") no-repeat center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#people{
position: fixed;
z-index: 5;
bottom: 0;
left: 0;
height: 700px;
width: 500px;
/* height: 100%; */
/* width: 100%; */
background: url("../img/people3.png") no-repeat;
background-size: 106%;
border-bottom: 2px solid black;
margin-left: 7%;
}
.content{
z-index: 20000;
}
#logo{
position: fixed;
z-index: 5;
top: 39px;
left: 3%;
height: 50px;
width: 237px;
background: url("../img/logo_lp.png") no-repeat;
background-size: 100%;
}
.right_content{
    float: right;
    z-index: 20000;
    position: relative
}
.right_content h2{
font-size: 53px;
color: #FFED00;
margin-top: 50px;

}
.right_content{
float: right;
width: 791px;
padding-left: 5%;
margin: 0px auto;

}

.buy_bonus h2 {
font-family: 'PFDinTextCondPro-Light';
color: white;
font-size: 85px;
padding-left: 67px;
}
.buy_bonus h3 {
 font-family: 'PFDinTextCondPro-Medium';
color: white;
font-size: 94px;
margin: 0;
margin-top: -40px;
padding-left: 240px;
}
.buy_bonus h4 {
font-family: 'PFDinTextCondPro-Light';
color: white;
font-size: 49px;
margin: 0;
margin-top: -15px;
padding-left: 240px;
}
.lp_form{
margin-left: 28px;
margin-top: 26px;
}
.lp_form input[type=email]{
width: 408px;
border-radius: 3px;
border: none;
padding: 0px 10px;
font-size: 27px;
}
.lp_form input[type=submit]{
background: #E31E24;
border-radius: 3px;
border: none;
color: white;
font-size: 27px;
margin-left: 15px;
padding: 0 10px;
}
.form_lp p {
margin-left: 28px;
margin-top: 6px;
color: white;
font-size: 23px;
}
#hgr{
font-size: 43px;
margin-top: 83px;
}
.footer_h4{
font-size: 14px;
color: #FFFFFF;
float: right;
z-index: 5;
right: 0;
height: 50px;
position: absolute;
margin-top: 100px;
/*bottom: 0;*/
}
.form_lp p{
margin-left: 28px;
margin-top: 6px;
color: #FFF;
font-size: 23px;
}

.form_lp p.success_lp{
color: rgb(255, 237, 0);
font-weight: bold;
margin-left: 0px;
margin-top: 0px;
}
.form_lp div.error {
    margin-bottom: -20px;
margin-left: 28px;
color: #FFED00;
font-weight: bold;
}

@media screen and (max-width: 1220px) {

#people{
position: fixed;
z-index: 5;
bottom: 0;
left: 0;
display: none;
/* height: 545px; */
/* width: 346px; */
height: 77%;
width: 25%;
background: url("../img/people3.png") no-repeat;
background-size: 100%;
margin-left: -100px;
}

@media screen and (max-width: 415px) {
#people{
position: fixed;
z-index: 5;
bottom: 0;
display: none;
left: 10%;
/* height: 545px; */
/* width: 346px; */
height: 77%;
width: 25%;
background: url("../img/people3.png") no-repeat;
background-size: 100%;
}
.content{
z-index: 20000;
}
#logo{
position: fixed;
z-index: 5;
top: 39px;
left: 3%;
height: 50px;
width: 237px;
background: url("../img/logo_lp.png") no-repeat;
background-size: 100%;
}
.right_content{
    float: right;
    z-index: 20000;
    position: relative
}
.right_content h2{
font-size: 22px;
color: #FFED00;
margin-top: 32px;

}
.right_content{
float: right;
width: 273px;
margin: 0px auto;

}
#hgr{
font-size: 22px;
margin-top: 83px;
}
.buy_bonus h2 {
font-family: 'PFDinTextCondPro-Light';
color: white;
font-size: 33px;
padding-left: 5px;
}
.buy_bonus h3 {
font-family: 'PFDinTextCondPro-Medium';
color: white;
font-size: 33px;
margin: 0;
margin-top: -17px;
padding-left: 4px;
}
.buy_bonus h4 {
font-family: 'PFDinTextCondPro-Light';
color: white;
font-size: 32px;
margin: 0;
margin-top: -5px;
padding-left: 24px;
}
.lp_form{
margin-left: 0px;
margin-top: 26px;
}
.lp_form input[type=email]{
width: 87px;
border-radius: 3px;
border: none;
padding: 0px 10px;
font-size: 15px;
}
.lp_form input[type=submit]{
background: #E31E24;
border-radius: 3px;
border: none;
color: white;
font-size: 15px;
margin-left: 0px;
padding: 0 10px;
}
.form_lp p {
margin-left: 0;
margin-top: 6px;
color: #FFF;
font-size: 8px;
}
.footer_h4{
font-size: 13px;
color: #FFFFFF;
float: right;
z-index: 5;
right: 0;
height: 50px;
position: absolute;
}
.form_lp p{
margin-left: 0px;
margin-top: 6px;
color: #FFF;
font-size: 12px;
}

.form_lp p.success_lp{
color: rgb(255, 237, 0);
font-weight: bold;
margin-left: 0px;
margin-top: 0px;
}
.form_lp div.error {
    margin-bottom: -20px;
margin-left: 28px;
color: #FFED00;
font-weight: bold;
}


}