@font-face {
  font-family: 'Pragmatica';
  src: url('../fonts/pragmatica.eot');
  src: local('☺'), url('../fonts/pragmatica.woff') format('woff'), url('../fonts/pragmatica.ttf') format('truetype'), url('../fonts/pragmatica.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/helvetica_light_normal.eot');
  src: local('☺'), url('../fonts/helvetica_light_normal.woff') format('woff'), url('../fonts/helvetica_light_normal.ttf') format('truetype'), url('../fonts/helvetica_light_normal.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
body {
  margin: 0;
  font: normal 14px 'Pragmatica';
}
a img {
  border: none;
}
h1,
h2 {
  font-family: 'Helvetica';
}
h1,
h2,
h3 {
  width: 960px;
}
.wrap960,
article {
  width: 960px;
  margin: 0 auto;
}
.half {
  width: 50%;
  float: left;
}
.half:nth-child(2n+1) {
  clear: left;
}
header {
  background: #b64c4c;
}
header .logo,
header .logo img {
  width: 212px;
  height: 57px;
  display: block;
}
header .logo {
  margin: 16px 0;
  float: left;
}
header nav {
  float: right;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
header nav li {
  float: left;
}
header nav a {
  color: #ffffff;
  text-decoration: none;
}
header .primary {
  margin-top: 27px;
  margin-right: -20px;
}
header .primary li {
  padding: 7px 36px 6px;
  border: 2px solid transparent;
}
header .primary li + li {
  margin-left: -7px;
}
header .primary li:after {
  content: '';
  width: 1px;
  height: 8px;
  display: block;
  float: right;
  margin: 6px -36px 0 0;
  background: #db5c5c;
}
header .primary li:last-child:after {
  display: none;
}
header .primary li:hover {
  border-color: #fff;
  background: #b64c4c;
}
header .primary li:hover:after {
  display: none;
}
header .primary a {
  font-size: 16px;
}
header > div:first-child {
  background: #8e2929;
}
header .phone {
  float: left;
  margin: 6px 0 8px;
  padding: 6px 0 2px 31px;
  background: url(../img/phone-h.png) 0 0 no-repeat;
  font: normal 1.1em 'Helvetica';
  color: #ffffff;
}
h2,
h3 {
  text-align: center;
}
.tiser {
  min-height: 565px;
  background: url(../img/tiser_mini.jpg) 54% 0 no-repeat;
}
.tiser div {
  float: right;
  margin: 42px 0 0;
  padding: 12px 20px 16px;
  background: rgba(88, 29, 32, 0.8);
}
.tiser div p {
  margin: 7px 0;
  font-family: 'Helvetica';
  font-size: 26px;
  color: #ffffff;
}
.tiser div p + p {
  font-size: 21px;
}
.tiser div a {
  color: #f87474;
}
article {
  zoom: 1;
}
article:before,
article:after {
  content: "";
  display: table;
  line-height: 0;
}
article:after {
  clear: both;
}
article h2 {
  margin: 17px 0 31px;
  font: normal 42px 'Helvetica';
}
.how-work {
  margin-bottom: 22px;
}
.how-work ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 15px;
  line-height: 18px;
}
.how-work li {
  width: 170px;
  float: left;
}
.how-work li + li {
  margin-left: 93px;
}
.how-work li + li:before {
  content: '';
  width: 1px;
  height: 65px;
  float: left;
  margin: 185px 0 0 -50px;
  background: #cfcfcf;
}
.how-work li span {
  display: block;
  color: #b64c4c;
}
.how-work a {
  min-height: 36px;
  display: inline-block;
  margin-bottom: 16px;
  color: #000000;
  text-decoration: none;
}
.how-work a:hover {
  text-decoration: underline;
}
.how-work .icon {
 
  width: 140px;
  height: 140px;
  margin: 0 auto 45px;
  background: #b64c4c url(../img/how-work-icons.png) 0 0 no-repeat;
  border-radius: 70px;
}
.how-work .icon1 {
  background-position: 0 0;
  
}
.how-work .icon2 {
  background-position: -140px 0;
}
.how-work .icon3 {
  background-position: -280px 0;
}
.how-work .icon4 {
  background-position: -420px 0;
}
.video,
.selection {
  border-width: 1px 0;
  border-style: solid;
  border-color: #dedbdb;
  background: url(../img/pattern.jpg) 0 0 repeat;
}
.video {
  height: 396px;
}
.video iframe {
  margin: 48px 0 0 15px;
  border: 7px solid #b64c4c;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.video div {
  width: 374px;
  margin: 86px 15px 0 0;
  padding: 26px 0 32px;
  float: right;
  border: 1px solid #b64c4c;
  font-size: 23px;
  text-align: center;
}
.video div:before {
  width: 1px;
  height: 181px;
  display: block;
  float: left;
  margin: -15px 0 0 -85px;
  content: '';
  background: #d4d4d4;
}
.video div span,
.video div strong {
  color: #b64c4c;
}
.video div span {
  width: 60px;
  display: inline-block;
  border: 2px solid #b64c4c;
  border-radius: 32px;
  font-size: 45px;
  line-height: 60px;
}
.video div strong {
  font-size: 72px;
}
.tariff {
  margin: 14px 0 22px;
  font-size: 15px;
}
.tariff table {
  width: 100%;
  border-collapse: collapse;
  background: #ba4747;
  color: #ffffff;
}
.tariff td,
.tariff th {
  border: 1px solid #ca6666;
}
.tariff td span,
.tariff th span {
  display: block;
}
.tariff th {
  padding: 22px 20px 17px;
  background-image: -webkit-linear-gradient(#dd6b6b 25%, #bd4a4a);
  background-image: linear-gradient(#dd6b6b 25%, #bd4a4a);
  font-weight: normal;
}
.tariff th span {
  margin-bottom: 3px;
  font-size: 30px;
}
.tariff th span:before {
  width: 25px;
  height: 28px;
  margin: 0 15px -5px 0;
  display: inline-block;
  content: '';
  background: url(../img/tariff.png) 0 0 no-repeat;
}
.tariff th:nth-child(2) span:before {
  background-position: -25px 0;
}
.tariff th:nth-child(3) span:before {
  background-position: -50px 0;
}
.tariff th:nth-child(4) span:before {
  background-position: -75px 0;
}
.tariff td {
  text-align: center;
  padding: 22px 10px 23px;
}
.tariff td span {
  margin-bottom: 9px;
  font-size: 18px;
}
.tariff .prices td {
  padding: 15px 10px 13px;
  background-image: -webkit-linear-gradient(#731313 25%, #8e2929);
  background-image: linear-gradient(#731313 25%, #8e2929);
}
.tariff .notes {
  width: 480px;
  margin: 30px auto 30px;
  padding-left: 38px;
  background: url(../img/tariff-notes.png) 0 2px no-repeat;
  line-height: 18px;
}
.selection {
  padding-bottom: 28px;
}
.selection ul {
  margin: 0;
  padding: 0;
  list-style: none;
  zoom: 1;
  line-height: 18px;
  color: #858585;
}
.selection ul:before,
.selection ul:after {
  content: "";
  display: table;
  line-height: 0;
}
.selection ul:after {
  clear: both;
}
.selection ul span {
  display: block;
}
.selection li {
  width: 360px;
  min-height: 85px;
  float: left;
  margin-bottom: 14px;
  padding-left: 87px;
}
.selection li:nth-child(2n+1) {
  clear: left;
}
.selection li:nth-child(2n) {
  margin-left: 60px;
}
.selection .icon {
  width: 49px;
  height: 49px;
  float: left;
  margin: -7px 0 0 -84px;
  background: #b64c4c url(../img/selection-icons.png) 0 0 no-repeat;
  border-radius: 25px;
}
.selection .icon + span {
  margin-bottom: 5px;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.selection .icon + span:before {
  margin: 0 6px 0 -18px;
  content: "\2014";
  display: block;
  float: left;
}
.selection .icon.icon2 {
  background-position: 0 -49px;
}
.selection .icon.icon3 {
  background-position: 0 -98px;
}
.selection .icon.icon4 {
  background-position: 0 -147px;
}
.selection .icon.icon5 {
  background-position: 0 -196px;
}
.selection .icon.icon6 {
  background-position: 0 -245px;
}
.selection .notes {
  width: 270px;
  margin: 0 auto;
  padding: 17px 15px 16px 85px;
  background: #b85050 url(../img/selection-notes.png) 13px 13px no-repeat;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
}
.platform {
  margin-bottom: 32px;
}
.platform .half {
  margin-bottom: 59px;
}
.platform h2 {
  margin-bottom: 2px;
}
.platform h3 {
  width: 590px;
  margin: 0 auto 33px;
}
.platform h4 {
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
}
.platform .concord-bay {
  margin: 0 50px 0 89px;
}
.platform .metatrader {
  margin: 0 70px 0 32px;
}
.platform .metatrader h4 {
  margin-bottom: 24px;
}
.platform .icon {
  width: 109px;
  margin: 0 auto 41px;
}
.platform ol {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 18px;
  color: #7d7d7d;
  counter-reset: list 0;
}
.platform ol li:before {
  width: 29px;
  margin: -3px 0 0 -60px;
  float: left;
  border: 1px solid #c7c7c7;
  border-radius: 15px;
  line-height: 29px;
  color: #c7c7c7;
  text-align: center;
  counter-increment: list;
  content: counter(list);
}
.platform ol li + li {
  margin-top: 3px;
}
.platform ol strong {
  display: block;
  margin-bottom: 3px;
  font-size: 18px;
  color: #000000;
}
.platform p {
  margin: 0;
  font-size: 15px;
  line-height: 24px;
}
.platform .btn {
  width: 210px;
  margin: 0 auto;
  padding: 21px 20px 20px 57px;
  background: #b85050 url(../img/platform.png) 14px 12px no-repeat;
  border-radius: 29px;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;

 
}
.investors {
  min-height: 466px;
  background: url(../img/investors.jpg) 50% 0 no-repeat;
  font-size: 15px;
  line-height: 24px;
}
.investors p {
  width: 500px;
  margin: 0 130px 0 330px;
}
.investors .btn {
  width: 183px;
  margin: 40px 0 26px 331px;
  padding: 10px 27px 9px;
  display: block;
  border: 3px solid #b85050;
  font: normal 36px 'Helvetica';
  color: #9e2f2f;
  text-decoration: none;
}
section.phone {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #c6c6c6;
  overflow: hidden;
  background: #f0f0f0;
  font: normal 18px/30px 'Helvetica';
}
section.phone article {
  margin-top: 18px;
}
section.phone strong {
  font-size: 24px;
  font-weight: normal;
}
section.phone div {
  float: left;
  margin: 1px 0 22px 99px;
  padding: 13px 0 2px 65px;
  background: url(../img/phone-f.png) 0 0 no-repeat;
}
section.phone .btn {
  float: right;
  margin: 0 169px 20px 0;
  padding: 7px 37px 6px;
  border: 3px solid #b64c4c;
  font-size: 20px;
  color: #9d2a2a;
  text-decoration: none;
  
}
footer {
  padding: 42px 0 57px;
  border-bottom: 5px solid #b64c4c;
  background: #f0f0f0;
  font-size: 13px;
  text-align: center;
}
footer .logo,
footer .logo img {
  width: 212px;
  height: 57px;
  display: block;
}
footer .logo {
  margin: 0 auto 27px;
}
footer,
footer a {
  color: #000000;
}
footer p {
  width: 500px;
  margin: 0 auto;
  line-height: 24px;
}
.social {
  width: 365px;
  margin: 0 auto 26px;
  padding: 0;
  list-style: none;
}
.social li {
  float: left;
}
.social li + li {
  margin-left: 19px;
}
.social a {
  width: 45px;
  height: 45px;
  display: block;
  background: url(../img/social.jpg) 0 0 no-repeat;
}
.social a.vk {
  background-position: 0 0;
}
.social a.fb {
  background-position: -45px 0;
}
.social a.tw {
  background-position: -90px 0;
}
.social a.ok {
  background-position: -135px 0;
}
.social a.gp {
  background-position: -180px 0;
}
.social a.yt {
  background-position: -225px 0;
}
.auth {
  margin: 0;
  padding: 0;
  list-style: none;
}
.auth li {
  float: left;
}
.auth a {
  text-decoration: none;
}
header .auth {
  margin: 7px 0;
  float: right;
  padding-left: 36px;
  background: url(../img/auth.png) 0 0 no-repeat;
}
header .auth li + li {
  margin-left: 23px;
}
header .auth a {
  display: block;
  padding: 4px 14px;
  font-size: 12px;
  color: #ffffff;
  border: 1px solid transparent;
}
header .auth a:hover {
  border-color: #fff;
}
footer .auth {
  display: inline-block;
  margin-bottom: 18px;
}
footer .auth li {
  margin-left: 28px;
}
.modal {
  display: none;
  overflow: hidden;
  padding: 20px 0 42px;
  background: #fff;
  text-align: center;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.modal input {
  margin-bottom: 21px;
  outline: none;
  font-size: 15px;
}
.modal input[type="text"] {
  width: 320px;
  padding: 14px 16px 13px;
  border: 3px solid #b85050;
}
.modal input[type="submit"] {
  margin-top: 23px;
  padding: 20px 78px;
  background: #b85050 url(../img/platform.png) 12px 12px no-repeat;
  border: none;
  border-radius: 29px;
  color: #fff;
  text-transform: uppercase;
}
.modal input[type="text"]::-webkit-input-placeholder {
  color: #b85050;
}
.modal input[type="text"]::-moz-placeholder {
  color: #b85050;
}
.modal input[type="text"]:-moz-placeholder {
  color: #b85050;
}
.modal input[type="text"]:-ms-input-placeholder {
  color: #b85050;
}
.modal #result {
  width: 358px;
  height: 50px;
  margin: 0 auto 20px;
  color: #0f0;
}
.modal .error {
  margin: -20px 0 5px;
  color: #f00;
}
.simplemodal-close {
  width: 35px;
  height: 35px;
  background: #b85050 url(../img/close.png) no-repeat 0 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
.simplemodal-overlay {
  background: #131315;
}
.carousel {
  margin: 50px 0 58px;
}
.carousel-container {
  width: 861px;
  margin: 0 auto;
  overflow: hidden;
}
.carousel ul {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 9999px;
}
.carousel li,
.carousel a,
.carousel img {
  width: 225px;
  height: 93px;
  display: block;
}
.carousel li {
  float: left;
  margin: 0 30px;
  border: 1px solid #b3b3b3;
}
.carousel .control {
  width: 46px;
  height: 46px;
  margin-top: 24px;
  display: block;
}
.carousel .prev {
  float: left;
  background: url(../img/prev.png) 0 0 no-repeat;
}
.carousel .next {
  float: right;
  background: url(../img/next.png) 0 0 no-repeat;
}
