{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Ошибка!{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <p>Ошибка!</p>

        </div>
    </div>
</div>
{% endblock %}