{% extends 'core/cabinet.html' %}
{% load static from staticfiles %}

{% block title %}Оплата прошла успешно!{% endblock %}

{% block content_header %}
{% endblock %}

{% block content %}
<div class="container content">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <p>Оплата прошла успешно!</p>
            <p><a href="{% url 'tickets' %}">Перейти в список активных билетов</a></p>

        </div>
    </div>
</div>
{% endblock %}