{% extends 'admin/admin.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Настройка билетов{% endblock %}

{% block content_header %}
<h1 class="page-header">Настройка билетов</h1>
{% endblock %}

{% block content %}
<div class="page-header-links">
<button onclick="javascript:document.location.href='{% url 'admin-tickets-settings-add' %}'" type="button" class="btn btn-success">Добавить</button>
</div>
<br>

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Стоимость билета</th>
                                        <th>Длительность отбора</th>
                                        <th>Цель по прибыли</th>
                                        <th>Макс.дневная просадка</th>
										<th>Максимальная просадка</th>
										<th>Сумма в управление</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in ticket_list %}
									<tr>
                                    <td>
                                        <a href="{% url 'admin-tickets-settings-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>
									<td>${{ buy.value }}</td>
									<td>{{ buy.duration }} дней</td>
									<td>${{ buy.goal }}</td>
									<td>${{ buy.sag_max }}</td>
									<td>${{ buy.sag_min }}</td>
									<td>${{ buy.amount }}</td>
                                    <td><a style="color:red" href="{% url 'admin-tickets-settings-delete' buy.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}