{% extends 'admin/admin.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Список обратных звонков{% endblock %}

{% block content_header %}
<h1 class="page-header">Список обратных звонков</h1>
{% endblock %}

{% block content %}

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Имя</th>
                                        <th>Телефон</th>
                                        <th>Дата</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
                                    <td>
                                        <input type="hidden" class="bid_id" value="{{ buy.id }}">
                                        <a href="{% url 'order-admin-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>
									<td>{{ buy.name }}</td>
									<td>{{ buy.phone }}
                                    <td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.get_result_display }}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}