{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
{% endblock %}

{% block bootstrap3_content %}
<body>

    <div id="wrapper">

        <!-- Navigation -->
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://propforex.co/">PropForex</a>
            </div>
            <!-- Top Menu Items -->
			            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if request.user.is_authenticated %}
                    <a href="cabinet/login/edit-data.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="cabinet/login/edit-data.html"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                    <li>
                        <a href="{% url 'auth_logout' %}"><i class="fa fa-fw fa-power-off"></i>Выход</a>
                    </li>
                    {% else %}

                    {% endif %}
                    </ul>
                </li>
            </ul>
             <!-- Top Menu Items -->
			 <ul class="nav navbar-right top-nav">
              {% if request.user.is_authenticated %}
              <li class="dropdown">
                  <a href="{% url 'admin-tickets' %}/?sort=new" rel="tooltip" data-placement="bottom" data-original-title="Куплен билет" style="color:white" class="dropdown-toggle ticket-link" ><i class="glyphicon glyphicon-tasks"></i></a>
              </li>
              <li class="dropdown">
                  <a href="{% url 'admin-users' %}" rel="tooltip" data-placement="bottom" data-original-title="Новый пользователь" style="color:white"  class="dropdown-toggle user-link"><i class="glyphicon glyphicon-user"></i></a>
              </li>
              <li class="dropdown">
                  <a href="{% url 'affilate-admin' %}" rel="tooltip" data-placement="bottom" data-original-title="Заявка на вывод средств" style="color:white" class="dropdown-toggle order-link"><i class="glyphicon glyphicon-euro"></i></a>
              </li>
              {% else %}
              {% endif %}
             </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
                {% if request.user.is_authenticated %}
                {% with u=request.resolver_match.url_name %}
				<li {% if u == 'admin-users' %}class="active"{% endif %}>
                        <a href="{% url 'admin-users' %}"><i class="fa fa-fw  rowTpl fa-user"></i> Пользователи</a>
                </li>
                <li {% if u == 'admin-tickets' %}class="active"{% endif %}>
                        <a href="{% url 'admin-tickets' %}"><i class="fa fa-fw  rowTpl fa-list"></i> Список билетов</a>
                </li>
                <li {% if u == 'admin-tickets-settings' %}class="active"{% endif %}>
                        <a href="{% url 'admin-tickets-settings' %}"><i class="fa fa-fw  rowTpl fa-cogs"></i> Настройка билетов</a>
                </li>
                <li {% if u == 'currency' %}class="active"{% endif %}>
                    <a href="{% url 'currency' %}"><i class="fa fa-fw  rowTpl fa-dollar"></i> Настройка курса</a>
                </li>
                <li class="last {% if u == 'admin-pages' %}active{% endif %}">
                    <a href="{% url 'admin-pages' %}"><i class="fa fa-fw  rowTpl fa-code"></i> Посадочные страницы</a>
                </li>
                <li class="last {% if u == 'affilate-admin' %}active{% endif %}">
                    <a href="{% url 'affilate-admin' %}"><i class="fa fa-fw  rowTpl fa-money"></i> Заявки на вывод средств</a>
                </li>
                <li class="last {% if u == 'admin-bids' %}active{% endif %}">
                    <a href="{% url 'admin-bids' %}"><i class="fa fa-fw  rowTpl fa-phone"></i> Обратные звонки</a>
                </li>
                <li class="last {% if u == 'admin-notification' %}active{% endif %}">
                    <a href="{% url 'admin-notification' %}"><i class="fa fa-fw  rowTpl fa-bell"></i> Настройка оповещения</a>
                </li>


                {% endwith %}
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6_ col-lg-12 ">
                        {% block content_header %}
                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-6_ col-lg-12 ">
                        {% block content %}
                        {% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
{% block bootstrap3_extra_script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
$(function() {
    $(".datetimeinput").datepicker();
    $(".datetimeinput").datepicker( "option", "dateFormat", "dd.mm.yy");
    $(".datetimeinput").attr("placeholder", $("#initial-id_time_start").val());
    $(".datetimeinput").val($("#initial-id_time_start").val());
    $(".datetimeinput").attr("placeholder", $("#initial-id_date_joined").val());
    $(".datetimeinput").val($("#initial-id_date_joined").val());
  });
$.fn.wait = function(time, type) {
        time = time || 1000;
        type = type || "fx";
        return this.queue(type, function() {
            var self = this;
            setTimeout(function() {
                $(self).dequeue();
            }, time);
        });
    };

function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

$('<audio id="chatAudio"><source src="{% static 'sound/notify.ogg' %}" type="audio/ogg"><source src="{% static 'sound/notify.mp3' %}" type="audio/mpeg"><source src="{% static 'sound/notify.wav' %}" type="audio/wav"></audio>').appendTo('body');
(function poll() {
    $.ajax({
        url: "{% url 'notification-api' %}",
        type: "POST",
        data: {'csrfmiddlewaretoken':csrftoken},
        success: function(data) {
            //result(data);
            var ticket = data['ticket'], users = data['users'], bids = data['bids'];
            console.log(data);
            /*$('#chatAudio')[0].play();*/
            //runIt();
            if (ticket > 0){
                runEach(data['tick'], '.ticket_id', ".ticket-link");
            }
            if (users > 0){
                runEach(data['usersr'], '.users_id', ".user-link");
            }
            if (bids > 0){
                runEach(data['bid'], '.bid_id', ".order-link");
            }

        },
        dataType: "json",
        complete: setTimeout(function() {poll()}, 60000),
        timeout: 200000
    })
})();

function result(data){
   /* var ticket = data['ticket'], users = data['users'], bids = data['bids'];
    console.log(ticket,users,bids);
    $('#chatAudio')[0].play();*/

}
/*анимация*/
function runIt(val) {
      $(val).wait()
              .animate({"opacity": 0.1},2000)
              .wait()
              .animate({"opacity": 1},1500,runIt);
      $(val).css({'color': 'red'})
}

/*проверка есть ли уже билет в таблице*/
function runEach(groth,sid, sclass) {
    if($(sid).val()) {
        var casper = '';
        $($(sid)).each(function() {
            console.log(groth, $(this).val());
            console.log(groth.indexOf($(this).val()));

           if(groth.indexOf($(this).val()) != -1) {
               console.log('tet');
               casper = groth

           }
           else {
               console.log('erte');
               /*$(sclass).show();
               runIt(sclass);
               $('#chatAudio')[0].play();*/

           }

        });
        console.log(casper, 7777);
    }
    else{
        $(sclass).show();
        runIt(sclass);

    }
}

$(function () {
        $("[rel='tooltip']").tooltip();
    });
</script>


{% endblock %}
</body>
{% endblock %}