{% extends 'admin/admin.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}PropForex - Редактирование билета{% endblock %}

{% block content_header %}
<h1 class="page-header">Редактирование билета</h1>
{% endblock %}

{% block content %}
<div class="form-group">
<form class="form-signin col-lg-4" action="" method="post">{% csrf_token %}
    {{ form|crispy}}
    <input  class="btn btn-lg btn-primary btn-block" type="submit" value="Обновить" />
</form>
</div>
{% endblock %}