{% extends 'admin/admin.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Список билетов{% endblock %}

{% block content_header %}
<h1 class="page-header">Список билетов</h1>
{% endblock %}

{% block content %}

<div class="page-header-links">
<a href="{% url 'admin-tickets' %}" class="btn btn-primary {% if request.get_full_path == '/manager/tickets' %}active{% endif %}" role="button">Все</a>
<a href="{% url 'admin-tickets' %}/?sort=new" class="btn btn-info {% if request.get_full_path == '/manager/tickets/?sort=new' %}active{% endif %}" role="button">Новые</a>
<a href="{% url 'admin-tickets' %}/?sort=active" class="btn btn-info {% if request.get_full_path == '/manager/tickets/?sort=active' %}active{% endif %}" role="button">Активные</a>
<a href="{% url 'admin-tickets' %}/?sort=inactive" class="btn btn-info {% if request.get_full_path == '/manager/tickets/?sort=inactive' %}active{% endif %}" role="button">Неактивные</a>
<a href="{% url 'admin-tickets' %}/?sort=upr" class="btn btn-danger {% if request.get_full_path == '/manager/tickets/?sort=upr' %}active{% endif %}" role="button">Управляющие</a>
<a href="{% url 'admin-tickets' %}/?sort=end" class="btn btn-warning {% if request.get_full_path == '/manager/tickets/?sort=end' %}active{% endif %}" role="button">Конец срока</a>
<button onclick="javascript:document.location.href='{% url 'admin-tickets-add' %}'" type="button" class="btn btn-success">Добавить</button>

</div>
<br>

<div class="page-header-links">
<div style="width: 30%">
<form class="form-signin" action="" method="get">{% csrf_token %}
    <div class="input-group">
    <input type="text" name="q"  class="form-control" placeholder="Введите данные для поиска">
        <span class="input-group-btn">
             <button  class="btn btn-default" type="submit">Найти</button>
        </span>
    </div>
</form>
</div>
</div>
<br>

{% if users %}
<div class="page-header-links">
<h5>Билеты пользователя <a href="{% url 'admin-users-edit' users.id %}">{{ users.first_name }} {{ users.last_name }}</a></h5>
</div>
{% endif %}



<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Имя</th>
                                        <th></th>
										<th>Покупка</th>
                                        <th>Начало</th>
                                        <th>Конец</th>
                                        <th>Старт</th>
                                        <th>Билет</th>
										<th>Счет</th>
										<th>Пароль</th>
										<th>Сервер</th>
                                        <th>Активность</th>
										<th>Статус</th>
                                        <th>Уведомить</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in yesticket_list %}
									<tr {% if buy.upr_status %} style="background-color: #ac2925;color: white;"{% endif %}>
									<td>
                                        <input type="hidden" class="ticket_id" value="{{ buy.id }}">
                                        <a href="{% url 'admin-tickets-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a> 
                                    </td>
									<td><a href="{% url 'admin-users-edit' buy.user.id %}">{{ buy.user.first_name }} {{ buy.user.last_name }}</a> <small style="float:right">{{ buy.user.id }}</small> </td>
									<td><a href="mailto: {{ buy.user.email }}" target="_blank" title="{{ buy.user.email }}"><span  style="float:right" class="glyphicon glyphicon-envelope"></span></a></td>
									<td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.time_start|date:"j/n/Y"  }}</td>
                                    <td>{{ buy.time_finish|date:"j/n/Y"  }}</td>
                                    <td>{{ buy.ticket.amount }}</td>
                                    <td>{{ buy.ticket.value }}</td>
                                    <td>{% if buy.invoice %}{{ buy.invoice }}{% endif %}</td>
                                    <td>{% if buy.password %}{{ buy.password }}{% endif %}</td>
                                    <td>{{ buy.server }}</td>
                                    <td>{{ buy.get_active_display }}</td>
                                    <td>
                                        {% if buy.status %}{{ buy.get_status_display }}{% endif %}
                                        {% if buy.upr_status %}{{ buy.com }}{% endif %}
                                    </td>
                                    <td>{% if buy.invoice %}
                                        <form  action="javascript:void(0)" onsubmit="sendmail({{ buy.id }})" method="post" id="msg_{{ buy.id }}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user" value="{{ buy.user.id }}">
                                        <input type="hidden" name="ticket" value="{{ buy.id }}">
                                        <button id="admin_sub_{{ buy.id }}" type="submit" class="btn btn-sm {% if buy.user.send %}{% if buy.send %}btn-info{% else %}btn-success{% endif %}{% else %}btn-danger{% endif %}">Уведомить</button>
                                        </form>
                                        {% endif %}
                                    </td>
                                    <td><a style="color:red" href="{% url 'admin-tickets-delete' buy.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
<br>
<script>
function sendmail(id) { //Ajax отправка формы
    var msg = $('#msg_'+id).serialize();
    $.ajax({
        type: 'POST',
        url: '{% url 'send-user' %}',
        data: msg,
        dataType: 'json',
        success: function(data) {
            console.log(data['data']['ok']);
            $('#msg').find('.error').remove();
            if(data['data']['error']){
                //$('#name').before('<div class="error">'+data['data']['error']+'</div>');
            }
            if(data['data']['ok']) {
                $('#admin_sub_'+id).removeClass('btn-success').addClass('btn-info');
            }
        },
        error: function(xhr, str){
            console.log(xhr);
            console.log(str);
        }
    });
}

</script>
{% endblock %}