{% extends 'core/bootstrap.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load bootstrap3 %}

{% block bootstrap3_extra_head %}
    <link rel="stylesheet" href="{% static 'css/sb-admin.css' %}">
    <link rel="stylesheet" href="{% static 'css/sb-partner.css' %}">
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <link rel="icon" type="image/vnd.microsoft.icon" href="{% static 'img/favicon.ico' %}">
    <link rel="SHORTCUT ICON" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'css/select2.css' %}">
    <link rel="stylesheet" href="{% static 'css/nprogress.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="{% static 'js/nprogress.js' %}"></script>

{% endblock %}

{% block bootstrap3_content %}
<body>

    <div id="wrapper">

        <!-- Navigation -->
		        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://propforex.co/">PropForex</a>
            </div>
            <!-- Top Menu Items -->
			            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    {% if request.user.is_authenticated %}
                    <a href="cabinet/login/edit-data.html" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ request.user.first_name }} {{ request.user.last_name }} <b class="caret"></b></a>
                    <ul class="dropdown-menu">

                        <li>
                            <a href="cabinet/login/edit-data.html"><i class="fa fa-fw fa-gear"></i> Настройки</a>
                        </li>
                        <li class="divider"></li>
                    <li>
                        <a href=""><i class="fa fa-fw fa-power-off"></i>Выход</a>
                    </li>
                    {% else %}

                    {% endif %}
                    </ul>
                </li>
            </ul>
             <!-- Top Menu Items -->
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav side-nav">
                {% if request.user.is_authenticated %}
                {% with u=request.resolver_match.url_name %}
				<li {% if u == 'padmin-users' %}class="active"{% endif %}>
                        <a href="{% url 'padmin-users' %}"><i class="fa fa-fw  rowTpl fa-user"></i> Вебмастера</a>
                </li>
                <li {% if u == 'padmin-stat' %}class="active"{% endif %}>
                        <a href="{% url 'padmin-stat' %}"><i class="fa fa-fw  rowTpl fa-user"></i> Статистика</a>
                </li>
                <li {% if u == 'padmin-leads' %}class="active"{% endif %}>
                    <a href="{% url 'padmin-leads' %}"><i class="fa fa-fw  rowTpl fa-dollar"></i> Лиды</a>
                </li>
                <li class="last {% if u == 'padmin-pages' %}active{% endif %}">
                    <a href="{% url 'padmin-pages' %}"><i class="fa fa-fw  rowTpl fa-code"></i> Посадочные страницы</a>
                </li>
                <li class="last {% if u == 'padmin-output' %}active{% endif %}">
                    <a href="{% url 'padmin-output' %}"><i class="fa fa-fw  rowTpl fa-money"></i> Заявки на вывод средств</a>
                </li>
                <li class="last {% if u == 'padmin-notification' %}active{% endif %}">
                    <a href="{% url 'padmin-notification' %}"><i class="fa fa-fw  rowTpl fa-bell"></i> Настройка оповещения</a>
                </li>
                <li class="last {% if u == 'padmin-summa' %}active{% endif %}">
                    <a href="{% url 'padmin-summa' %}"><i class="fa fa-fw  rowTpl fa-bell"></i> Настройка цены за лид</a>
                </li>



                {% endwith %}
                {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-6_ col-lg-12 ">
                        {% block content_header %}
                        {% endblock %}
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
					<div class="col-lg-6_ col-lg-12 ">
                        {% block content %}
                        {% endblock %}
					</div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

</body>
{% endblock %}
{% block bootstrap3_extra_script %}
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>

<script>
$(function() {
       $.datepicker.regional['ru'] = {
closeText: 'Закрыть',
prevText: '&#x3c;Пред',
nextText: 'След&#x3e;',
currentText: 'Сегодня',
monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
'Июл','Авг','Сен','Окт','Ноя','Дек'],
dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
dateFormat: 'dd.mm.yy',
firstDay: 1,
isRTL: false
};
$.datepicker.setDefaults($.datepicker.regional['ru']);
    $(".datetimeinput").datepicker();
    $(".datetimeinput").datepicker( "option", "dateFormat", "dd.mm.yy");
    $(".datetimeinput").attr("placeholder", $("#initial-id_time_start").val());
    $(".datetimeinput").val($("#initial-id_time_start").val());
    $(".datetimeinput").attr("placeholder", $("#initial-id_date_joined").val());
    $(".datetimeinput").val($("#initial-id_date_joined").val());
  });
$(function() {
       $.datepicker.regional['ru'] = {
closeText: 'Закрыть',
prevText: '&#x3c;Пред',
nextText: 'След&#x3e;',
currentText: 'Сегодня',
monthNames: ['Январь','Февраль','Март','Апрель','Май','Июнь',
'Июль','Август','Сентябрь','Октябрь','Ноябрь','Декабрь'],
monthNamesShort: ['Янв','Фев','Мар','Апр','Май','Июн',
'Июл','Авг','Сен','Окт','Ноя','Дек'],
dayNames: ['воскресенье','понедельник','вторник','среда','четверг','пятница','суббота'],
dayNamesShort: ['вск','пнд','втр','срд','чтв','птн','сбт'],
dayNamesMin: ['Вс','Пн','Вт','Ср','Чт','Пт','Сб'],
dateFormat: 'dd.mm.yy',
firstDay: 1,
isRTL: false
};
$.datepicker.setDefaults($.datepicker.regional['ru']);
    $(".datetimeinput").datepicker();
    $(".datetimeinput").datepicker( "option", "dateFormat", "dd.mm.yy");
    $(".datetimeinputtwo").datepicker();
    $(".datetimeinputtwo").datepicker( "option", "dateFormat", "dd.mm.yy");
    if($("#time_start-val").val()){
        $(".datetimeinput").attr("placeholder",$('#time_start-val').val());
        $(".datetimeinput").val($('#time_start-val').val());
    }
    else{
        $(".datetimeinput").attr("placeholder",'Дата от');
    }
    if($("#time_finish-val").val()){
        $(".datetimeinputtwo").attr("placeholder",$('#time_finish-val').val());
        $("#id_time_finish").val($('#time_finish-val').val());
    }
    else{
        $(".datetimeinputtwo").attr("placeholder",'Дата до');
    }


  });
</script>


<script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0-beta.3/js/select2.min.js"></script>
<script type="text/javascript">
$(".js-example-placeholder-single").select2({
  placeholder: "Выберите канал",
  allowClear: true
});
</script>
{% endblock %}