{% extends 'padmin/base.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Вебмастера{% endblock %}

{% block content_header %}
<h1 class="page-header"><div style="float:left">Вебмастера({{ userprofile_list.count }}</div>{% if users %}<div style="float:left;font-size: 20px;font-weight: bold;color: rgb(12, 164, 0);"  class="plus_p">+{{ users }}</div>{% endif %}<div style="float:left">)</div><div style="clear:both"></div></h1>
{% endblock %} 

{% block content %}
<div class="page-header-links">
<div style="width: 30%">
<form class="form-signin" action="" method="get">{% csrf_token %}
    <div class="input-group">
    <input type="text" name="q"  class="form-control" placeholder="Введите данные для поиска">
        <span class="input-group-btn">
             <button  class="btn btn-default" type="submit">Найти</button>
        </span>
    </div>
</form>
</div>
</div>
<br>

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Имя</th>
                                        <th>Переходы</th>
                                        <th>Регистрации</th>
                                        <th>Оплаченых</th>
                                        <th>∑ продаж</th>
                                         <th>Баланс</th>
                                        <!--th>Заработано</th-->
                                        <th>Выведено</th>
                                        <!--<th>$Комиссия</th>-->
                                        <th>EPC</th>
										<th>Регистрация</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in userprofile_list %}
									<tr>
									<td>
                                        <input type="hidden" class="users_id" value="{{ buy.id }}">
                                        <a href="{% url 'padmin-users-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a> <small style="float:right">{{ buy.id }}</small>
                                    </td>
									<td>{{ buy.first_name }} {{ buy.last_name }}</td>
									{% for referal in referals %}
                                        {% if referal.user_id  == buy.id %}
                                    <td>{{ referal.all_transition }}</td>
                                    <td>{{ referal.all_refer }}</td>
                                    <td>{{ referal.count_buy }}</td>
                                    <td>${{ referal.summa_buy }}</td>
                                    <td>{{ referal.job_out_common }}</td>
                                    <!--td>${{ referal.amount_buy_two }}</td-->
                                    <td>{{ referal.out }}</td>
 								    <!--<td>${{ referal.amount_buy }}</td>-->
                                    <td>${{ referal.epc }}</td>
                                        {% else %}
                                        {% endif %}
                                    {% endfor %}
                                    <td>{{ buy.created|date:"j/n/Y" }}</td>
                                    <td><a style="color:red" href="{% url 'padmin-users-delete' buy.id %}"><span class="glyphicon glyphicon-remove"></span></a></td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}