{% extends 'padmin/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}

{% block title %}PropForex - Статистика{% endblock %}

{% block content_header %}
<h1 class="page-header">Статистика</h1>
{% endblock %}

{% block content %}

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>№</th>
                                        <th>ID</th>
                                        <th>Дата регистрации</th>
                                        <th>Канал</th>
                                        <th>Статус</th>
                                        <th>Дата изменения Статуса</th>
                                        <th>Цена лида</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
                                    <td>{{ forloop.counter }}</td>
									<td>{{ buy.refer.id }}</td>
									<td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
                                    <td>{{ buy.landing.name }}</td>
                                    <td>{{ buy.get_result_display }}</td>
                                    <td></td>
                                    <td></td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}