{% extends 'padmin/base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}PropForex - Редактирование цены за лид{% endblock %}

{% block content_header %}
<h1 class="page-header">Редактирование цены за лид</h1>
{% endblock %}

{% block content %}
 {% if yes %}
<div class="alert alert-warning">{{ yes }}</div>
{% endif %}
{% if err %}
<div class="alert alert-warning">{{ err }}</div>
{% endif %}
<form  class="form-signin col-lg-4" action="" method="post">{% csrf_token %}
    <div class="form-group">
    <label for="id_email" class="control-label ">Цена</label>
        <div class="controls "><input class="form-control" id="id_email" value="{{ value }}" name="summa" type="number" placeholder="Введите сумму">
    </div>
    </div>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Обновить" />
</form>
{% endblock %}