{% extends 'padmin/base.html' %}
{% load static from staticfiles %}
{% load i18n %}
{% load url from future %}
{% load partner_extras %}

{% block title %}PropForex - Статистика{% endblock %}

{% block content_header %}
<h1 class="page-header">Статистика</h1>
{% endblock %}

{% block content %}
<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Выберите период</h3>
			</div>
			<div class="panel-body">
            <div class="week-search">
					<a class="btn btn-default {% if request.get_full_path == '/partner/stat/' %}active{% endif %}" role="button" href="{% url 'partner-stat' %}">Неделя</a>
					<a class="btn btn-default {% if request.get_full_path == 'l' %}active{% endif %}" role="button" href="/?day=-30">Месяц</a>
			</div>
            <form action="{{ request.get_full_path }}" method="get">
            <div class="time-search">
                <input type="hidden" value="{{ time_start }}" id="time_start-val">
                <input type="hidden" value="{{ time_finish }}" id="time_finish-val">
                    <input style="width: 150px" class="datetimeinput form-control" id="id_time_start" name="time_start" type="text">
                    <input style="width: 150px;margin-left: 10px;" class="datetimeinputtwo form-control" id="id_time_finish" name="time_finish" type="text">
                    <input style="width: 150px;margin-left: 10px;" class="btn btn-success btn-block" type="submit" value="Отфильтровать">

            </div>
            <div class="channel-search">

                <select name="channel" style="width:150px" class="js-example-placeholder-single js-states form-control" onchange="this.form.submit()" tabindex="-1">
                    <option></option>
                    {% for link in links %}
                    <option value="{{ link.id }}">{{ link.name }}</option>
                    {% endfor %}
                </select>
            </div></form>
            </div>


							<table class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>
                                        <th>Переходы</th>
                                        <th>Лиды</th>
                                        <th>Ожидает</th>
										<th>Принят</th>
										<th>Отклонен</th>
                                        <th>Оплачено</th>
                                        <th>Сумма продаж</th>
										<th>EPC</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for did in date_dats %}
                                <tr>
		                                	<td>{{ did|date:"j.n.Y" }}</td>
	                                		<td>{{ ref_list|visit:did }}</td>
	                                		<td>{{ ref_list|leadsadmin:did }}</td>
		                                	<td>{{ ref_list|waitsadmin:did }}</td>
		                                	<td>{{ ref_list|receivedadmin:did }}</td>
		                                	<td>{{ ref_list|outputadmin:did }}</td>
                                            <td>{{ ref_list|partneradmin:did }}</td>
                                            <td>{{ ref_list|summaadmin:did }}</td>
		                                	<td>{{ ref_list|epc:did }}</td>
                                </tr>
                                {% endfor %}
                                {% if week %}
                                <tr>
		                                	<td>Итого</td>
	                                		<td>{{ visit }}</td>
	                                		<td>{{ leads }}</td>
		                                	<td>{{ waits }}</td>
		                                	<td>{{ received }}</td>
		                                	<td>{{ output }}</td>
                                            <td>{{ partnerka }}</td>
                                            <td>{{ summaadmin }}</td>
		                                	<td>{{ epc }}</td>
                                </tr>
                                {% endif %}
                                </tbody>
							</table>
</div>
{% endblock %}