{% extends 'padmin/base.html' %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}

{% block title %}PropForex - Редактирование оповещений{% endblock %}

{% block content_header %}
<h1 class="page-header">Редактирование оповещений</h1>
{% endblock %}

{% block content %}
<form  class="form-signin col-lg-4" action="" method="post">{% csrf_token %}
    {{ form|crispy}}
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Обновить" />
</form>
{% endblock %}