{% extends 'padmin/base.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Список страниц{% endblock %}

{% block content_header %}
<h1 class="page-header">Список страниц</h1>
{% endblock %}

{% block content %}
<div class="page-header-links">
<button onclick="javascript:document.location.href='{% url 'padmin-pages-add' %}'" type="button" class="btn btn-success">Добавить</button>
</div>
<br>
<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Имя</th>
                                        <th>Url</th>
                                        <th>Опубликован</th>
                                        <th>Дата</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
                                    <td>
                                        <a href="{% url 'padmin-pages-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>
									<td><a target="_blank" href="http://propforex.co/{{ buy.slug }}">{{ buy.title }}</a></td>
									<td>{{ buy.slug }}</td>
                                    <td>
                                        {% if buy.publish %}
                                            <div class="publish"></div>
                                        {% else %}
                                            <div class="unpublish"></div>
                                        {% endif %}
                                    </td>
                                    <td>{{ buy.created|date:"j/n/Y H:i:s" }}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}