{% extends 'padmin/base.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Удаление записи<{% endblock %}

{% block content_header %}
<h1 class="page-header">Удаление записи</h1>
{% endblock %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Вы действительно хотите удалить запись ID №{{ object.id }}?</p>
    <button type="submit" class="btn btn-link" >Да</button>
</form>
{% endblock %}