{% extends 'padmin/base.html' %}
{% load static from staticfiles %}

{% block title %}PropForex - Заявки на вывод по реферальной программе{% endblock %}

{% block content_header %}
<h1 class="page-header">Заявки на вывод по реферальной программе</h1>
{% endblock %}

{% block content %}

<div class="page-header-links">
<div style="width: 30%">
<form class="form-signin" action="" method="get">{% csrf_token %}
    <div class="input-group">
    <input type="text" name="q"  class="form-control" placeholder="Введите данные для поиска">
        <span class="input-group-btn">
             <button  class="btn btn-default" type="submit">Найти</button>
        </span>
    </div>
</form>
</div>
</div>
<br>

<div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Дата</th>
                                        <th>Имя</th>
										
                                        <th>$∑ продаж</th>
                                        <th>$Баланс</th>
                                        <th>$Комиссия</th>
                                        <th>$Выведено</th>
										
                                        <th>$Заказано</th>
                                        <th>Система</th>
                                        <th>Кошелек</th>
                                        <th>Статус</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for buy in object_list %}
									<tr>
									<td>
                                        <input type="hidden" class="bid_id" value="{{ buy.id }}">
                                        <a href="{% url 'padmin-output-edit' buy.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
                                    </td>
                                    <td>{{ buy.created|date:"j/n/Y H:i" }}</td>
									<td>{{ buy.user.first_name }} {{ buy.user.last_name }}</td>
                                    {% for referal in referals %}
                                        {% if referal.user_id  == buy.id %}
                                    <td>${{ referal.summa_buy }}</td>
                                    <td>${{ referal.job_out_common }}</td>
                                    <td>${{ referal.amount_buy }}</td>
 								    <td>${{ referal.out }}</td>
									    {% else %}
                                        {% endif %}
                                    {% endfor %}
									<td>${{ buy.sum }}</td>
									<td>{{ buy.user.get_sistemas_display }}</td>
                                    <td>{{ buy.user.number_sistem }}</td>
                                    <td>{{ buy.get_result_display }}</td>
									</tr>
								{% endfor %}
                                </tbody>
                            </table>
</div>
{% endblock %}